/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  INDENT style START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


		
        /*=======================>  Paragraph START  <=======================*/
		
			p {margin-bottom:20px;}

        /*=======================>  Paragraph END   <=======================*/




        /*=======================>  Margin indent START  <=======================*/


				/*==> margin-bottom START <==*/

					.mb0{ margin-bottom:0px;}
					.mb1{ margin-bottom:1px;}
					.mb2{ margin-bottom:2px;}
					.mb3{ margin-bottom:3px;}
					.mb4{ margin-bottom:4px;}
					.mb5{ margin-bottom:5px;}
					.mb6{ margin-bottom:6px;}
					.mb7{ margin-bottom:7px;}
					.mb8{ margin-bottom:8px;}
					.mb9{ margin-bottom:9px;}
					.mb10{ margin-bottom:10px;}
					.mb11{ margin-bottom:11px;}
					.mb12{ margin-bottom:12px;}
					.mb13{ margin-bottom:13px;}
					.mb14{ margin-bottom:14px;}
					.mb15{ margin-bottom:15px;}
					.mb16{ margin-bottom:16px;}
					.mb17{ margin-bottom:17px;}
					.mb18{ margin-bottom:18px;}
					.mb19{ margin-bottom:19px;}
					.mb20{ margin-bottom:20px;}
					.mb21{ margin-bottom:21px;}
					.mb22{ margin-bottom:22px;}
					.mb23{ margin-bottom:23px;}
					.mb24{ margin-bottom:24px;}
					.mb25{ margin-bottom:25px;}
					.mb26{ margin-bottom:26px;}
					.mb27{ margin-bottom:27px;}
					.mb28{ margin-bottom:28px;}
					.mb29{ margin-bottom:29px;}
					.mb30{ margin-bottom:30px;}
					.mb31{ margin-bottom:31px;}
					.mb32{ margin-bottom:32px;}
					.mb33{ margin-bottom:33px;}
					.mb34{ margin-bottom:34px;}
					.mb35{ margin-bottom:35px;}
					.mb36{ margin-bottom:36px;}
					.mb37{ margin-bottom:37px;}
					.mb38{ margin-bottom:38px;}
					.mb39{ margin-bottom:39px;}
					.mb40{ margin-bottom:40px;}
					.mb41{ margin-bottom:41px;}
					.mb42{ margin-bottom:42px;}
					.mb43{ margin-bottom:43px;}
					.mb44{ margin-bottom:44px;}
					.mb45{ margin-bottom:45px;}
					.mb46{ margin-bottom:46px;}
					.mb47{ margin-bottom:47px;}
					.mb48{ margin-bottom:48px;}
					.mb49{ margin-bottom:49px;}
					.mb50{ margin-bottom:50px;}
					.mb51{ margin-bottom:51px;}
					.mb52{ margin-bottom:52px;}
					.mb53{ margin-bottom:53px;}
					.mb54{ margin-bottom:54px;}
					.mb55{ margin-bottom:55px;}
					.mb56{ margin-bottom:56px;}
					.mb57{ margin-bottom:57px;}
					.mb58{ margin-bottom:58px;}
					.mb59{ margin-bottom:59px;}
					.mb60{ margin-bottom:60px;}
					.mb61{ margin-bottom:61px;}
					.mb62{ margin-bottom:62px;}
					.mb63{ margin-bottom: 63px;}
					.mb64{ margin-bottom: 64px;}
					.mb65{ margin-bottom: 65px;}
					.mb66{ margin-bottom: 66px;}
					.mb67{ margin-bottom: 67px;}
					.mb68{ margin-bottom: 68px;}
					.mb69{ margin-bottom: 69px;}
					.mb70{ margin-bottom: 70px;}
					.mb71{ margin-bottom: 71px;}
					.mb72{ margin-bottom: 72px;}
					.mb73{ margin-bottom: 73px;}
					.mb74{ margin-bottom: 74px;}
					.mb75{ margin-bottom: 75px;}
					.mb76{ margin-bottom: 76px;}
					.mb77{ margin-bottom: 77px;}
					.mb78{ margin-bottom: 78px;}
					.mb79{ margin-bottom: 79px;}
					.mb80{ margin-bottom: 80px;}
					.mb81{ margin-bottom: 81px;}
					.mb82{ margin-bottom: 82px;}
					.mb83{ margin-bottom: 83px;}
					.mb84{ margin-bottom: 84px;}
					.mb85{ margin-bottom: 85px;}
					.mb86{ margin-bottom: 86px;}
					.mb87{ margin-bottom: 87px;}
					.mb88{ margin-bottom: 88px;}
					.mb89{ margin-bottom: 89px;}
					.mb90{ margin-bottom: 90px;}
					.mb91{ margin-bottom: 91px;}
					.mb92{ margin-bottom: 92px;}
					.mb93{ margin-bottom: 93px;}
					.mb94{ margin-bottom: 94px;}
					.mb95{ margin-bottom: 95px;}
					.mb96{ margin-bottom: 96px;}
					.mb97{ margin-bottom: 97px;}
					.mb98{ margin-bottom: 98px;}
					.mb99{ margin-bottom: 99px;}
					.mb100{ margin-bottom: 100px;}

				/*==> margin-bottom END   <==*/


				/*==> margin-top START <==*/
				
					.mt0{ margin-top:0px;}
					.mt1{ margin-top:1px;}
					.mt2{ margin-top:2px;}
					.mt3{ margin-top:3px;}
					.mt4{ margin-top:4px;}
					.mt5{ margin-top:5px;}
					.mt6{ margin-top:6px;}
					.mt7{ margin-top:7px;}
					.mt8{ margin-top:8px;}
					.mt9{ margin-top:9px;}
					.mt10{ margin-top:10px;}
					.mt11{ margin-top:11px;}
					.mt12{ margin-top:12px;}
					.mt13{ margin-top:13px;}
					.mt14{ margin-top:14px;}
					.mt15{ margin-top:15px;}
					.mt16{ margin-top:16px;}
					.mt17{ margin-top:17px;}
					.mt18{ margin-top:18px;}
					.mt19{ margin-top:19px;}
					.mt20{ margin-top:20px;}
					.mt21{ margin-top:21px;}
					.mt22{ margin-top:22px;}
					.mt23{ margin-top:23px;}
					.mt24{ margin-top:24px;}
					.mt25{ margin-top:25px;}
					.mt26{ margin-top:26px;}
					.mt27{ margin-top:27px;}
					.mt28{ margin-top:28px;}
					.mt29{ margin-top:29px;}
					.mt30{ margin-top:30px;}
					.mt31{ margin-top:31px;}
					.mt32{ margin-top:32px;}
					.mt33{ margin-top:33px;}
					.mt34{ margin-top:34px;}
					.mt35{ margin-top:35px;}
					.mt36{ margin-top:36px;}
					.mt37{ margin-top:37px;}
					.mt38{ margin-top:38px;}
					.mt39{ margin-top:39px;}
					.mt40{ margin-top:40px;}
					.mt41{ margin-top:41px;}
					.mt42{ margin-top:42px;}
					.mt43{ margin-top:43px;}
					.mt44{ margin-top:44px;}
					.mt45{ margin-top:45px;}
					.mt46{ margin-top:46px;}
					.mt47{ margin-top:47px;}
					.mt48{ margin-top:48px;}
					.mt49{ margin-top:49px;}
					.mt50{ margin-top:50px;}
					.mt51{ margin-top:51px;}
					.mt52{ margin-top:52px;}
					.mt53{ margin-top:53px;}
					.mt54{ margin-top:54px;}
					.mt55{ margin-top:55px;}
					.mt56{ margin-top:56px;}
					.mt57{ margin-top:57px;}
					.mt58{ margin-top:58px;}
					.mt59{ margin-top:59px;}
					.mt60{ margin-top:60px;}
					.mt61{ margin-top:61px;}
					.mt62{ margin-top:62px;}
					.mt63{ margin-top: 63px;}
					.mt64{ margin-top: 64px;}
					.mt65{ margin-top: 65px;}
					.mt66{ margin-top: 66px;}
					.mt67{ margin-top: 67px;}
					.mt68{ margin-top: 68px;}
					.mt69{ margin-top: 69px;}
					.mt70{ margin-top: 70px;}
					.mt71{ margin-top: 71px;}
					.mt72{ margin-top: 72px;}
					.mt73{ margin-top: 73px;}
					.mt74{ margin-top: 74px;}
					.mt75{ margin-top: 75px;}
					.mt76{ margin-top: 76px;}
					.mt77{ margin-top: 77px;}
					.mt78{ margin-top: 78px;}
					.mt79{ margin-top: 79px;}
					.mt80{ margin-top: 80px;}
					.mt81{ margin-top: 81px;}
					.mt82{ margin-top: 82px;}
					.mt83{ margin-top: 83px;}
					.mt84{ margin-top: 84px;}
					.mt85{ margin-top: 85px;}
					.mt86{ margin-top: 86px;}
					.mt87{ margin-top: 87px;}
					.mt88{ margin-top: 88px;}
					.mt89{ margin-top: 89px;}
					.mt90{ margin-top: 90px;}
					.mt91{ margin-top: 91px;}
					.mt92{ margin-top: 92px;}
					.mt93{ margin-top: 93px;}
					.mt94{ margin-top: 94px;}
					.mt95{ margin-top: 95px;}
					.mt96{ margin-top: 96px;}
					.mt97{ margin-top: 97px;}
					.mt98{ margin-top: 98px;}
					.mt99{ margin-top: 99px;}
					.mt100{ margin-top: 100px;}

				/*==> margin-top END   <==*/


				/*==> margin-left START <==*/
				
				    .ml0{ margin-left:0px;}
				    .ml1{ margin-left:1px;}
					.ml2{ margin-left:2px;}
					.ml3{ margin-left:3px;}
					.ml4{ margin-left:4px;}
					.ml5{ margin-left:5px;}
					.ml6{ margin-left:6px;}
					.ml7{ margin-left:7px;}
					.ml8{ margin-left:8px;}
					.ml9{ margin-left:9px;}
					.ml10{ margin-left:10px;}
					.ml11{ margin-left:11px;}
					.ml12{ margin-left:12px;}
					.ml13{ margin-left:13px;}
					.ml14{ margin-left:14px;}
					.ml15{ margin-left:15px;}
					.ml16{ margin-left:16px;}
					.ml17{ margin-left:17px;}
					.ml18{ margin-left:18px;}
					.ml19{ margin-left:19px;}
					.ml20{ margin-left:20px;}
					.ml21{ margin-left:21px;}
					.ml22{ margin-left:22px;}
					.ml23{ margin-left:23px;}
					.ml24{ margin-left:24px;}
					.ml25{ margin-left:25px;}
					.ml26{ margin-left:26px;}
					.ml27{ margin-left:27px;}
					.ml28{ margin-left:28px;}
					.ml29{ margin-left:29px;}
					.ml30{ margin-left:30px;}
					.ml31{ margin-left:31px;}
					.ml32{ margin-left:32px;}
					.ml33{ margin-left:33px;}
					.ml34{ margin-left:34px;}
					.ml35{ margin-left:35px;}
					.ml36{ margin-left:36px;}
					.ml37{ margin-left:37px;}
					.ml38{ margin-left:38px;}
					.ml39{ margin-left:39px;}
					.ml40{ margin-left:40px;}
					.ml41{ margin-left:41px;}
					.ml42{ margin-left:42px;}
					.ml43{ margin-left:43px;}
					.ml44{ margin-left:44px;}
					.ml45{ margin-left:45px;}
					.ml46{ margin-left:46px;}
					.ml47{ margin-left:47px;}
					.ml48{ margin-left:48px;}
					.ml49{ margin-left:49px;}
					.ml50{ margin-left:50px;}
					.ml51{ margin-left:51px;}
					.ml52{ margin-left:52px;}
					.ml53{ margin-left:53px;}
					.ml54{ margin-left:54px;}
					.ml55{ margin-left:55px;}
					.ml56{ margin-left:56px;}
					.ml57{ margin-left:57px;}
					.ml58{ margin-left:58px;}
					.ml59{ margin-left:59px;}
					.ml60{ margin-left:60px;}
					.ml61{ margin-left:61px;}
					.ml62{ margin-left:62px;}
					.ml63{ margin-left: 63px;}
					.ml64{ margin-left: 64px;}
					.ml65{ margin-left: 65px;}
					.ml66{ margin-left: 66px;}
					.ml67{ margin-left: 67px;}
					.ml68{ margin-left: 68px;}
					.ml69{ margin-left: 69px;}
					.ml70{ margin-left: 70px;}
					.ml71{ margin-left: 71px;}
					.ml72{ margin-left: 72px;}
					.ml73{ margin-left: 73px;}
					.ml74{ margin-left: 74px;}
					.ml75{ margin-left: 75px;}
					.ml76{ margin-left: 76px;}
					.ml77{ margin-left: 77px;}
					.ml78{ margin-left: 78px;}
					.ml79{ margin-left: 79px;}
					.ml80{ margin-left: 80px;}
					.ml81{ margin-left: 81px;}
					.ml82{ margin-left: 82px;}
					.ml83{ margin-left: 83px;}
					.ml84{ margin-left: 84px;}
					.ml85{ margin-left: 85px;}
					.ml86{ margin-left: 86px;}
					.ml87{ margin-left: 87px;}
					.ml88{ margin-left: 88px;}
					.ml89{ margin-left: 89px;}
					.ml90{ margin-left: 90px;}
					.ml91{ margin-left: 91px;}
					.ml92{ margin-left: 92px;}
					.ml93{ margin-left: 93px;}
					.ml94{ margin-left: 94px;}
					.ml95{ margin-left: 95px;}
					.ml96{ margin-left: 96px;}
					.ml97{ margin-left: 97px;}
					.ml98{ margin-left: 98px;}
					.ml99{ margin-left: 99px;}
					.ml100{ margin-left: 100px;}

				/*==> margin-left END   <==*/
				

				/*==> margin-right START <==*/
				
				    .mr0{ margin-right:0px;}
				    .mr1{ margin-right:1px;}
					.mr2{ margin-right:2px;}
					.mr3{ margin-right:3px;}
					.mr4{ margin-right:4px;}
					.mr5{ margin-right:5px;}
					.mr6{ margin-right:6px;}
					.mr7{ margin-right:7px;}
					.mr8{ margin-right:8px;}
					.mr9{ margin-right:9px;}
					.mr10{ margin-right:10px;}
					.mr11{ margin-right:11px;}
					.mr12{ margin-right:12px;}
					.mr13{ margin-right:13px;}
					.mr14{ margin-right:14px;}
					.mr15{ margin-right:15px;}
					.mr16{ margin-right:16px;}
					.mr17{ margin-right:17px;}
					.mr18{ margin-right:18px;}
					.mr19{ margin-right:19px;}
					.mr20{ margin-right:20px;}
					.mr21{ margin-right:21px;}
					.mr22{ margin-right:22px;}
					.mr23{ margin-right:23px;}
					.mr24{ margin-right:24px;}
					.mr25{ margin-right:25px;}
					.mr26{ margin-right:26px;}
					.mr27{ margin-right:27px;}
					.mr28{ margin-right:28px;}
					.mr29{ margin-right:29px;}
					.mr30{ margin-right:30px;}
					.mr31{ margin-right:31px;}
					.mr32{ margin-right:32px;}
					.mr33{ margin-right:33px;}
					.mr34{ margin-right:34px;}
					.mr35{ margin-right:35px;}
					.mr36{ margin-right:36px;}
					.mr37{ margin-right:37px;}
					.mr38{ margin-right:38px;}
					.mr39{ margin-right:39px;}
					.mr40{ margin-right:40px;}
					.mr41{ margin-right:41px;}
					.mr42{ margin-right:42px;}
					.mr43{ margin-right:43px;}
					.mr44{ margin-right:44px;}
					.mr45{ margin-right:45px;}
					.mr46{ margin-right:46px;}
					.mr47{ margin-right:47px;}
					.mr48{ margin-right:48px;}
					.mr49{ margin-right:49px;}
					.mr50{ margin-right:50px;}
					.mr51{ margin-right:51px;}
					.mr52{ margin-right:52px;}
					.mr53{ margin-right:53px;}
					.mr54{ margin-right:54px;}
					.mr55{ margin-right:55px;}
					.mr56{ margin-right:56px;}
					.mr57{ margin-right:57px;}
					.mr58{ margin-right:58px;}
					.mr59{ margin-right:59px;}
					.mr60{ margin-right:60px;}
					.mr61{ margin-right:61px;}
					.mr62{ margin-right:62px;}
					.mr63{ margin-right: 63px;}
					.mr64{ margin-right: 64px;}
					.mr65{ margin-right: 65px;}
					.mr66{ margin-right: 66px;}
					.mr67{ margin-right: 67px;}
					.mr68{ margin-right: 68px;}
					.mr69{ margin-right: 69px;}
					.mr70{ margin-right: 70px;}
					.mr71{ margin-right: 71px;}
					.mr72{ margin-right: 72px;}
					.mr73{ margin-right: 73px;}
					.mr74{ margin-right: 74px;}
					.mr75{ margin-right: 75px;}
					.mr76{ margin-right: 76px;}
					.mr77{ margin-right: 77px;}
					.mr78{ margin-right: 78px;}
					.mr79{ margin-right: 79px;}
					.mr80{ margin-right: 80px;}
					.mr81{ margin-right: 81px;}
					.mr82{ margin-right: 82px;}
					.mr83{ margin-right: 83px;}
					.mr84{ margin-right: 84px;}
					.mr85{ margin-right: 85px;}
					.mr86{ margin-right: 86px;}
					.mr87{ margin-right: 87px;}
					.mr88{ margin-right: 88px;}
					.mr89{ margin-right: 89px;}
					.mr90{ margin-right: 90px;}
					.mr91{ margin-right: 91px;}
					.mr92{ margin-right: 92px;}
					.mr93{ margin-right: 93px;}
					.mr94{ margin-right: 94px;}
					.mr95{ margin-right: 95px;}
					.mr96{ margin-right: 96px;}
					.mr97{ margin-right: 97px;}
					.mr98{ margin-right: 98px;}
					.mr99{ margin-right: 99px;}
					.mr100{ margin-right: 100px;}

				/*==> margin-right END   <==*/


        /*=======================>  Margin indent END    <=======================*/




        /*=======================>  Padding indent START  <=======================*/
		


				/*==> padding-bottom START <==*/

					.pb0{ padding-bottom:0px;}
					.pb1{ padding-bottom:1px;}
					.pb2{ padding-bottom:2px;}
					.pb3{ padding-bottom:3px;}
					.pb4{ padding-bottom:4px;}
					.pb5{ padding-bottom:5px;}
					.pb6{ padding-bottom:6px;}
					.pb7{ padding-bottom:7px;}
					.pb8{ padding-bottom:8px;}
					.pb9{ padding-bottom:9px;}
					.pb10{ padding-bottom:10px;}
					.pb11{ padding-bottom:11px;}
					.pb12{ padding-bottom:12px;}
					.pb13{ padding-bottom:13px;}
					.pb14{ padding-bottom:14px;}
					.pb15{ padding-bottom:15px;}
					.pb16{ padding-bottom:16px;}
					.pb17{ padding-bottom:17px;}
					.pb18{ padding-bottom:18px;}
					.pb19{ padding-bottom:19px;}
					.pb20{ padding-bottom:20px;}
					.pb21{ padding-bottom:21px;}
					.pb22{ padding-bottom:22px;}
					.pb23{ padding-bottom:23px;}
					.pb24{ padding-bottom:24px;}
					.pb25{ padding-bottom:25px;}
					.pb26{ padding-bottom:26px;}
					.pb27{ padding-bottom:27px;}
					.pb28{ padding-bottom:28px;}
					.pb29{ padding-bottom:29px;}
					.pb30{ padding-bottom:30px;}
					.pb31{ padding-bottom:31px;}
					.pb32{ padding-bottom:32px;}
					.pb33{ padding-bottom:33px;}
					.pb34{ padding-bottom:34px;}
					.pb35{ padding-bottom:35px;}
					.pb36{ padding-bottom:36px;}
					.pb37{ padding-bottom:37px;}
					.pb38{ padding-bottom:38px;}
					.pb39{ padding-bottom:39px;}
					.pb40{ padding-bottom:40px;}
					.pb41{ padding-bottom:41px;}
					.pb42{ padding-bottom:42px;}
					.pb43{ padding-bottom:43px;}
					.pb44{ padding-bottom:44px;}
					.pb45{ padding-bottom:45px;}
					.pb46{ padding-bottom:46px;}
					.pb47{ padding-bottom:47px;}
					.pb48{ padding-bottom:48px;}
					.pb49{ padding-bottom:49px;}
					.pb50{ padding-bottom:50px;}
					.pb51{ padding-bottom:51px;}
					.pb52{ padding-bottom:52px;}
					.pb53{ padding-bottom:53px;}
					.pb54{ padding-bottom:54px;}
					.pb55{ padding-bottom:55px;}
					.pb56{ padding-bottom:56px;}
					.pb57{ padding-bottom:57px;}
					.pb58{ padding-bottom:58px;}
					.pb59{ padding-bottom:59px;}
					.pb60{ padding-bottom:60px;}
					.pb61{ padding-bottom:61px;}
					.pb62{ padding-bottom:62px;}
					.pb63{ padding-bottom: 63px;}
					.pb64{ padding-bottom: 64px;}
					.pb65{ padding-bottom: 65px;}
					.pb66{ padding-bottom: 66px;}
					.pb67{ padding-bottom: 67px;}
					.pb68{ padding-bottom: 68px;}
					.pb69{ padding-bottom: 69px;}
					.pb70{ padding-bottom: 70px;}
					.pb71{ padding-bottom: 71px;}
					.pb72{ padding-bottom: 72px;}
					.pb73{ padding-bottom: 73px;}
					.pb74{ padding-bottom: 74px;}
					.pb75{ padding-bottom: 75px;}
					.pb76{ padding-bottom: 76px;}
					.pb77{ padding-bottom: 77px;}
					.pb78{ padding-bottom: 78px;}
					.pb79{ padding-bottom: 79px;}
					.pb80{ padding-bottom: 80px;}
					.pb81{ padding-bottom: 81px;}
					.pb82{ padding-bottom: 82px;}
					.pb83{ padding-bottom: 83px;}
					.pb84{ padding-bottom: 84px;}
					.pb85{ padding-bottom: 85px;}
					.pb86{ padding-bottom: 86px;}
					.pb87{ padding-bottom: 87px;}
					.pb88{ padding-bottom: 88px;}
					.pb89{ padding-bottom: 89px;}
					.pb90{ padding-bottom: 90px;}
					.pb91{ padding-bottom: 91px;}
					.pb92{ padding-bottom: 92px;}
					.pb93{ padding-bottom: 93px;}
					.pb94{ padding-bottom: 94px;}
					.pb95{ padding-bottom: 95px;}
					.pb96{ padding-bottom: 96px;}
					.pb97{ padding-bottom: 97px;}
					.pb98{ padding-bottom: 98px;}
					.pb99{ padding-bottom: 99px;}
					.pb100{ padding-bottom: 100px;}

				/*==> padding-bottom END   <==*/


				/*==> padding-top START <==*/
				
					.pt0{ padding-top:0px;}
					.pt1{ padding-top:1px;}
					.pt2{ padding-top:2px;}
					.pt3{ padding-top:3px;}
					.pt4{ padding-top:4px;}
					.pt5{ padding-top:5px;}
					.pt6{ padding-top:6px;}
					.pt7{ padding-top:7px;}
					.pt8{ padding-top:8px;}
					.pt9{ padding-top:9px;}
					.pt10{ padding-top:10px;}
					.pt11{ padding-top:11px;}
					.pt12{ padding-top:12px;}
					.pt13{ padding-top:13px;}
					.pt14{ padding-top:14px;}
					.pt15{ padding-top:15px;}
					.pt16{ padding-top:16px;}
					.pt17{ padding-top:17px;}
					.pt18{ padding-top:18px;}
					.pt19{ padding-top:19px;}
					.pt20{ padding-top:20px;}
					.pt21{ padding-top:21px;}
					.pt22{ padding-top:22px;}
					.pt23{ padding-top:23px;}
					.pt24{ padding-top:24px;}
					.pt25{ padding-top:25px;}
					.pt26{ padding-top:26px;}
					.pt27{ padding-top:27px;}
					.pt28{ padding-top:28px;}
					.pt29{ padding-top:29px;}
					.pt30{ padding-top:30px;}
					.pt31{ padding-top:31px;}
					.pt32{ padding-top:32px;}
					.pt33{ padding-top:33px;}
					.pt34{ padding-top:34px;}
					.pt35{ padding-top:35px;}
					.pt36{ padding-top:36px;}
					.pt37{ padding-top:37px;}
					.pt38{ padding-top:38px;}
					.pt39{ padding-top:39px;}
					.pt40{ padding-top:40px;}
					.pt41{ padding-top:41px;}
					.pt42{ padding-top:42px;}
					.pt43{ padding-top:43px;}
					.pt44{ padding-top:44px;}
					.pt45{ padding-top:45px;}
					.pt46{ padding-top:46px;}
					.pt47{ padding-top:47px;}
					.pt48{ padding-top:48px;}
					.pt49{ padding-top:49px;}
					.pt50{ padding-top:50px;}
					.pt51{ padding-top:51px;}
					.pt52{ padding-top:52px;}
					.pt53{ padding-top:53px;}
					.pt54{ padding-top:54px;}
					.pt55{ padding-top:55px;}
					.pt56{ padding-top:56px;}
					.pt57{ padding-top:57px;}
					.pt58{ padding-top:58px;}
					.pt59{ padding-top:59px;}
					.pt60{ padding-top:60px;}
					.pt61{ padding-top:61px;}
					.pt62{ padding-top:62px;}
					.pt63{ padding-top: 63px;}
					.pt64{ padding-top: 64px;}
					.pt65{ padding-top: 65px;}
					.pt66{ padding-top: 66px;}
					.pt67{ padding-top: 67px;}
					.pt68{ padding-top: 68px;}
					.pt69{ padding-top: 69px;}
					.pt70{ padding-top: 70px;}
					.pt71{ padding-top: 71px;}
					.pt72{ padding-top: 72px;}
					.pt73{ padding-top: 73px;}
					.pt74{ padding-top: 74px;}
					.pt75{ padding-top: 75px;}
					.pt76{ padding-top: 76px;}
					.pt77{ padding-top: 77px;}
					.pt78{ padding-top: 78px;}
					.pt79{ padding-top: 79px;}
					.pt80{ padding-top: 80px;}
					.pt81{ padding-top: 81px;}
					.pt82{ padding-top: 82px;}
					.pt83{ padding-top: 83px;}
					.pt84{ padding-top: 84px;}
					.pt85{ padding-top: 85px;}
					.pt86{ padding-top: 86px;}
					.pt87{ padding-top: 87px;}
					.pt88{ padding-top: 88px;}
					.pt89{ padding-top: 89px;}
					.pt90{ padding-top: 90px;}
					.pt91{ padding-top: 91px;}
					.pt92{ padding-top: 92px;}
					.pt93{ padding-top: 93px;}
					.pt94{ padding-top: 94px;}
					.pt95{ padding-top: 95px;}
					.pt96{ padding-top: 96px;}
					.pt97{ padding-top: 97px;}
					.pt98{ padding-top: 98px;}
					.pt99{ padding-top: 99px;}
					.pt100{ padding-top: 100px;}

				/*==> padding-top END   <==*/


				/*==> padding-left START <==*/
				
				    .pl0{ padding-left:0px;}
				    .pl1{ padding-left:1px;}
					.pl2{ padding-left:2px;}
					.pl3{ padding-left:3px;}
					.pl4{ padding-left:4px;}
					.pl5{ padding-left:5px;}
					.pl6{ padding-left:6px;}
					.pl7{ padding-left:7px;}
					.pl8{ padding-left:8px;}
					.pl9{ padding-left:9px;}
					.pl10{ padding-left:10px;}
					.pl11{ padding-left:11px;}
					.pl12{ padding-left:12px;}
					.pl13{ padding-left:13px;}
					.pl14{ padding-left:14px;}
					.pl15{ padding-left:15px;}
					.pl16{ padding-left:16px;}
					.pl17{ padding-left:17px;}
					.pl18{ padding-left:18px;}
					.pl19{ padding-left:19px;}
					.pl20{ padding-left:20px;}
					.pl21{ padding-left:21px;}
					.pl22{ padding-left:22px;}
					.pl23{ padding-left:23px;}
					.pl24{ padding-left:24px;}
					.pl25{ padding-left:25px;}
					.pl26{ padding-left:26px;}
					.pl27{ padding-left:27px;}
					.pl28{ padding-left:28px;}
					.pl29{ padding-left:29px;}
					.pl30{ padding-left:30px;}
					.pl31{ padding-left:31px;}
					.pl32{ padding-left:32px;}
					.pl33{ padding-left:33px;}
					.pl34{ padding-left:34px;}
					.pl35{ padding-left:35px;}
					.pl36{ padding-left:36px;}
					.pl37{ padding-left:37px;}
					.pl38{ padding-left:38px;}
					.pl39{ padding-left:39px;}
					.pl40{ padding-left:40px;}
					.pl41{ padding-left:41px;}
					.pl42{ padding-left:42px;}
					.pl43{ padding-left:43px;}
					.pl44{ padding-left:44px;}
					.pl45{ padding-left:45px;}
					.pl46{ padding-left:46px;}
					.pl47{ padding-left:47px;}
					.pl48{ padding-left:48px;}
					.pl49{ padding-left:49px;}
					.pl50{ padding-left:50px;}
					.pl51{ padding-left:51px;}
					.pl52{ padding-left:52px;}
					.pl53{ padding-left:53px;}
					.pl54{ padding-left:54px;}
					.pl55{ padding-left:55px;}
					.pl56{ padding-left:56px;}
					.pl57{ padding-left:57px;}
					.pl58{ padding-left:58px;}
					.pl59{ padding-left:59px;}
					.pl60{ padding-left:60px;}
					.pl61{ padding-left:61px;}
					.pl62{ padding-left:62px;}
					.pl63{ padding-left: 63px;}
					.pl64{ padding-left: 64px;}
					.pl65{ padding-left: 65px;}
					.pl66{ padding-left: 66px;}
					.pl67{ padding-left: 67px;}
					.pl68{ padding-left: 68px;}
					.pl69{ padding-left: 69px;}
					.pl70{ padding-left: 70px;}
					.pl71{ padding-left: 71px;}
					.pl72{ padding-left: 72px;}
					.pl73{ padding-left: 73px;}
					.pl74{ padding-left: 74px;}
					.pl75{ padding-left: 75px;}
					.pl76{ padding-left: 76px;}
					.pl77{ padding-left: 77px;}
					.pl78{ padding-left: 78px;}
					.pl79{ padding-left: 79px;}
					.pl80{ padding-left: 80px;}
					.pl81{ padding-left: 81px;}
					.pl82{ padding-left: 82px;}
					.pl83{ padding-left: 83px;}
					.pl84{ padding-left: 84px;}
					.pl85{ padding-left: 85px;}
					.pl86{ padding-left: 86px;}
					.pl87{ padding-left: 87px;}
					.pl88{ padding-left: 88px;}
					.pl89{ padding-left: 89px;}
					.pl90{ padding-left: 90px;}
					.pl91{ padding-left: 91px;}
					.pl92{ padding-left: 92px;}
					.pl93{ padding-left: 93px;}
					.pl94{ padding-left: 94px;}
					.pl95{ padding-left: 95px;}
					.pl96{ padding-left: 96px;}
					.pl97{ padding-left: 97px;}
					.pl98{ padding-left: 98px;}
					.pl99{ padding-left: 99px;}
					.pl100{ padding-left: 100px;}

				/*==> padding-left END   <==*/
				

				/*==> padding-right START <==*/
				
				    .pr0{ padding-right:0px;}
				    .pr1{ padding-right:1px;}
					.pr2{ padding-right:2px;}
					.pr3{ padding-right:3px;}
					.pr4{ padding-right:4px;}
					.pr5{ padding-right:5px;}
					.pr6{ padding-right:6px;}
					.pr7{ padding-right:7px;}
					.pr8{ padding-right:8px;}
					.pr9{ padding-right:9px;}
					.pr10{ padding-right:10px;}
					.pr11{ padding-right:11px;}
					.pr12{ padding-right:12px;}
					.pr13{ padding-right:13px;}
					.pr14{ padding-right:14px;}
					.pr15{ padding-right:15px;}
					.pr16{ padding-right:16px;}
					.pr17{ padding-right:17px;}
					.pr18{ padding-right:18px;}
					.pr19{ padding-right:19px;}
					.pr20{ padding-right:20px;}
					.pr21{ padding-right:21px;}
					.pr22{ padding-right:22px;}
					.pr23{ padding-right:23px;}
					.pr24{ padding-right:24px;}
					.pr25{ padding-right:25px;}
					.pr26{ padding-right:26px;}
					.pr27{ padding-right:27px;}
					.pr28{ padding-right:28px;}
					.pr29{ padding-right:29px;}
					.pr30{ padding-right:30px;}
					.pr31{ padding-right:31px;}
					.pr32{ padding-right:32px;}
					.pr33{ padding-right:33px;}
					.pr34{ padding-right:34px;}
					.pr35{ padding-right:35px;}
					.pr36{ padding-right:36px;}
					.pr37{ padding-right:37px;}
					.pr38{ padding-right:38px;}
					.pr39{ padding-right:39px;}
					.pr40{ padding-right:40px;}
					.pr41{ padding-right:41px;}
					.pr42{ padding-right:42px;}
					.pr43{ padding-right:43px;}
					.pr44{ padding-right:44px;}
					.pr45{ padding-right:45px;}
					.pr46{ padding-right:46px;}
					.pr47{ padding-right:47px;}
					.pr48{ padding-right:48px;}
					.pr49{ padding-right:49px;}
					.pr50{ padding-right:50px;}
					.pr51{ padding-right:51px;}
					.pr52{ padding-right:52px;}
					.pr53{ padding-right:53px;}
					.pr54{ padding-right:54px;}
					.pr55{ padding-right:55px;}
					.pr56{ padding-right:56px;}
					.pr57{ padding-right:57px;}
					.pr58{ padding-right:58px;}
					.pr59{ padding-right:59px;}
					.pr60{ padding-right:60px;}
					.pr61{ padding-right:61px;}
					.pr62{ padding-right:62px;}
					.pr63{ padding-right: 63px;}
					.pr64{ padding-right: 64px;}
					.pr65{ padding-right: 65px;}
					.pr66{ padding-right: 66px;}
					.pr67{ padding-right: 67px;}
					.pr68{ padding-right: 68px;}
					.pr69{ padding-right: 69px;}
					.pr70{ padding-right: 70px;}
					.pr71{ padding-right: 71px;}
					.pr72{ padding-right: 72px;}
					.pr73{ padding-right: 73px;}
					.pr74{ padding-right: 74px;}
					.pr75{ padding-right: 75px;}
					.pr76{ padding-right: 76px;}
					.pr77{ padding-right: 77px;}
					.pr78{ padding-right: 78px;}
					.pr79{ padding-right: 79px;}
					.pr80{ padding-right: 80px;}
					.pr81{ padding-right: 81px;}
					.pr82{ padding-right: 82px;}
					.pr83{ padding-right: 83px;}
					.pr84{ padding-right: 84px;}
					.pr85{ padding-right: 85px;}
					.pr86{ padding-right: 86px;}
					.pr87{ padding-right: 87px;}
					.pr88{ padding-right: 88px;}
					.pr89{ padding-right: 89px;}
					.pr90{ padding-right: 90px;}
					.pr91{ padding-right: 91px;}
					.pr92{ padding-right: 92px;}
					.pr93{ padding-right: 93px;}
					.pr94{ padding-right: 94px;}
					.pr95{ padding-right: 95px;}
					.pr96{ padding-right: 96px;}
					.pr97{ padding-right: 97px;}
					.pr98{ padding-right: 98px;}
					.pr99{ padding-right: 99px;}
					.pr100{ padding-right: 100px;}

				/*==> padding-right END   <==*/


        /*=======================>  Padding indent END    <=======================*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  INDENT style END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/
