/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ARCTICMODAL CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

	.arcticmodal_container_box {
	    max-width: 100%;
	    max-height: 100%;
	    padding: 0;
	}


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ARCTICMODAL CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  TABS CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

	/* TABS OPTION №1 START */
	
	.resp-tab-item{
		background: #2678cd; /* Old browsers */
		background: -moz-linear-gradient(top,  #2678cd 0%, #2575c7 52%, #2068b0 98%, #15499a 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #2678cd 0%,#2575c7 52%,#2068b0 98%,#15499a 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #2678cd 0%,#2575c7 52%,#2068b0 98%,#15499a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		text-shadow: 0 -1px 0 rgba(32, 101, 196, 0.75);
		color: #fff;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
		text-align: center;
		padding: 8px 36px;
		float: left;
		cursor: pointer;
		-webkit-border-radius: 4px 4px 0 4px;
		        border-radius: 4px 4px 0 4px;
		position: relative;
		-webkit-transition: all ease 0.1s;
		   -moz-transition: all ease 0.1s;
		    -ms-transition: all ease 0.1s;
		     -o-transition: all ease 0.1s;
		        transition: all ease 0.1s;
	}
	.resp-tab-item:before,
	.resp-tab-item:after{
		position: absolute;
		bottom: -1px;
		left: -1px;
		content:"";
		width: 5px;
		height: 36px;
	}
	.resp-tab-item:first-child:before{
		background: none;
	}
	.resp-tab-item:before{
		background: url(../images/icon/radius_icon_blue.png) 0 0 no-repeat;	
	}
	.resp-tab-item:last-child:after{
		left: auto;
		right: -5px;
		background: url(../images/icon/radius_icon_blue_last.png) 0 0 no-repeat;
	}
	.resp-tab-item:after{
		
	}
	.resp-tab-item.resp-tab-active{
		background: #fdfeff; /* Old browsers */
		background: -moz-linear-gradient(top,  #fdfeff 0%, #f5fbff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #fdfeff 0%,#f5fbff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #fdfeff 0%,#f5fbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		/* box-shadow: 0 1px 0 #c8e8ff, inset 0 1px 0 rgba(255, 255, 255, 0.75); */
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
		color: #0a193f;
		border-left: 1px solid transparent;
		border-bottom: 1px solid transparent;
		-webkit-border-radius: 4px 4px 0 0;
		        border-radius: 4px 4px 0 0;
		padding-top: 12px;
		margin-top: -4px;
		-webkit-transition: padding-top , margin-top ease 0.1s;
		   -moz-transition: padding-top , margin-top ease 0.1s;
		    -ms-transition: padding-top , margin-top ease 0.1s;
		     -o-transition: padding-top , margin-top ease 0.1s;
		        transition: padding-top , margin-top ease 0.1s;
		z-index: 9;
	}
	.resp-tab-item.resp-tab-active:before{
		background: url(../images/icon/radius_icon_white_left.png) 0 0 no-repeat;
		left: -5px;
	}
	.resp-tab-item.resp-tab-active:after{
		background: url(../images/icon/radius_icon_white_right.png) 0 0 no-repeat;
		left: auto;
		right: -4px;
		z-index: 9;
	}
	.resp-tabs-list{
		margin-top: -37px;
		display: inline-block;
		padding-left: 99px;
	}

	/* TABS OPTION №1 END   */

	/* TABS OPTION №2 START */

	.tabs[data-tab="2"]{
		
	}
		.tabs[data-tab="2"] .resp-tabs-list{
			padding-left: 0;
			margin-top: 0;
			margin-bottom: 13px;
			display: block;
		}
			.tabs[data-tab="2"] .resp-tab-item{
				background: #f3f3f3;
				text-shadow: none;
				color: #8f8f8f;
				font-weight: 400;
				font-size: 13px;
				line-height: 16px;
				padding: 6px 14.5px;
				-webkit-border-radius: 2px;
				        border-radius: 2px;
				margin-right: 10px;
			}
			.tabs[data-tab="2"] .resp-tab-item:before,
			.tabs[data-tab="2"] .resp-tab-item:after{
				display: none;
			}
			.tabs[data-tab="2"] .resp-tab-item.resp-tab-active{
				margin: 0 10px 0 0;
				background: #bae3ff;
				border: none;
				color: #1E5981;
				text-shadow: 0px 0px 1px #1E5981;
			}
			.tabs[data-tab="2"] .resp-tab-item.resp-tab-active:after{
				content: "";
				position: absolute;
				bottom: -5px;
				left: 50%;
				margin-left: -5px;
				width: 0;
				height: 0;
				display: inline-block;
				border: 5px solid #bae3ff;
				border-left: 5px solid transparent; 
				border-right: 5px solid transparent; 
				border-bottom: 0px solid transparent; 
			}


		.tabs[data-tab="2"] .resp-tabs-container{
			margin-top: 0;
		}
		.tabs[data-tab="2"] .resp-tab-content{
			color: #8e8e8e;
			font-size: 13px;
			line-height: 20px;
			font-weight: 400;
		}

	/* TABS OPTION №2 END   */


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  TABS CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DATEPICKER CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


	.ui-datepicker{
		width: 255px;
		min-height: 229px;
    	padding: 0 7px 3px 7px;
		background-color: #FFF;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.53);
		-webkit-border-radius: 4px;
		        border-radius: 4px;
		margin-top: 7px;
		z-index: 999 !important;
	}
	.ui-datepicker:before{
		width: 9px;
		height: 5px;
		position: absolute;
		top: -5px;
		left: 50%;
		margin-left: -4.5px;
		background: url(../plugins/datepicker/icon/calendar_arr_icon.png) 0 0 no-repeat;
	}
	.ui-datepicker .ui-datepicker-title{
		color: #246492;
		font-family: 'Roboto', sans-serif;
		font-size: 16px !important;
		font-weight: 500;
		line-height: 29px;
		margin: 0 32px;
		border: 1px solid #dcecf9;
	}
	.ui-datepicker-year{
		display: none;
	}
	.ui-datepicker .ui-datepicker-prev, 
	.ui-datepicker .ui-datepicker-next{
		background-color: #EBF8FF;
		border: 1px solid #DCECF9;
		border-right: none;
		width: 30px;
		height: 31px;
		-webkit-border-radius: 2px 0 0 2px;
		        border-radius: 2px 0 0 2px;
		top: 7px;
	}
		.ui-datepicker .ui-datepicker-prev:before,
		.ui-datepicker .ui-datepicker-next:before{
			content: "";	
			border-top: 4px solid transparent;
		    border-bottom: 4px solid transparent;	
		    height: 0;
		    width: 0;
		    font-size: 0;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-top: -4px;
		    margin-left: -3px;
		    display: inline-block;
		}
		.ui-datepicker .ui-datepicker-prev:before{
			border-right: 4px solid #6a9fc5;
		}
	.ui-datepicker .ui-datepicker-next{
		border-left: none;
		border-right: 1px solid #DCECF9;
		-webkit-border-radius: 0 2px 2px 0;
		        border-radius: 0 2px 2px 0;
	}
		.ui-datepicker .ui-datepicker-next:before{
		    border-left: 4px solid #6a9fc5;
		    margin-left: -2px;
		}

	.ui-datepicker td span, 
	.ui-datepicker td a,
	.ui-datepicker td{
		padding: 0;
	}
	.ui-datepicker td{
		text-align: center;
		width: 34px;
		height: 31px;
	}
	.ui-datepicker td a,
	.ui-datepicker-unselectable.ui-state-disabled span{
		text-shadow: 0 1px 0 white;
		color: #6298c0;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		line-height: 27px;
		font-weight: 700;
		text-align: center;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #f9fdff 50%, #f3fbff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#f9fdff 50%,#f3fbff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #ffffff 0%,#f9fdff 50%,#f3fbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		border: 1px solid #B7DCF9;
		-webkit-border-radius: 2px;
		        border-radius: 2px;
		margin-bottom: 4px;
		margin-left: 2px;
		margin-right: 2px;
	}
	.ui-datepicker-unselectable.ui-state-disabled span{
		background: linear-gradient(to top, #e3f1fb 0%, #e3f1fb 100%);
		color: #a9c4d8;
		text-shadow: 0 1px 0 white;
		border-color: transparent !important;
	}
	  .ui-datepicker td.ui-datepicker-today a,
	  .ui-datepicker .ui-state-default.ui-state-active,
	  .ui-state-default:hover{
		background: #91bfe0;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(155, 197, 227, 0.49);
		border: 1px solid #91bfe0;
	}
	.ui-datepicker table{
		margin: 0;
		table-layout: fixed;
		font-size: inherit;
	}
	.ui-datepicker th{
		font-size: 16px;
		line-height: 27px;
		color: #79A0BE;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		height: 27px;
		vertical-align: middle;
		padding: 0;
	}
	.ui-datepicker .ui-datepicker-header{
		padding: 7px 0 2px 0;
	}


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DATEPICKER CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FORMSTYLER CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


	/* select  start */
		.jq-selectbox__select{
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffffff 0%,#f9fdff 50%, #f2fbff 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f9fdff 50%,#f2fbff 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #ffffff 0%,#f9fdff 50%,#f2fbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			border: 1px solid #9fc6e3;
			box-shadow: 0 1px 2px rgba(211, 236, 255, 0.75);
			width: 56px;
			padding: 0 25px 0 5px;
			-webkit-border-radius: 2px;
			        border-radius: 2px;
		}
		.selectw180 .jq-selectbox__select{
			width: 183px;
		}
		.jq-selectbox__select:hover{
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffffff 0%,#f9fdff 50%, #f2fbff 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f9fdff 50%,#f2fbff 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #ffffff 0%,#f9fdff 50%,#f2fbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
		.jq-selectbox__trigger{
			border-left: 1px solid #e2f1fb;
			width: 25px;
		}
		.jq-selectbox__trigger-arrow{
			border-top: 4px solid #6a9fc5;
		    border-right: 4px solid transparent;
		    border-left: 4px solid transparent;
		    top: 50%;
		    right: 50%;
		    margin-right: -3px;
		    margin-top: -2px;
		}
		.jq-selectbox__select-text,
		.jq-selectbox .placeholder{
			color: #3C79A7;
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
			margin: auto;
		}
		.jq-selectbox li{
			text-align: center;
		}
		.jq-selectbox li:hover ,
		.jq-selectbox li.selected{
		    background-color: #2370be;
		    color: #FFF;
		}
		.jq-selectbox__dropdown{
			-webkit-border-radius: 2px;
			        border-radius: 2px;
		}
		.jq-selectbox li{
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
			color: #3C79A7;
		}

	/* select  end   */
	
	/* checkbox  start */
	
		.jq-checkbox.focused{
			border: 1px solid #9fc6e3;		
		}

	/* checkbox  end   */

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FORMSTYLER CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  TOOLTIP CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

	.tooltipster-default{
		width: 183px;
		min-height: 42px;
		background-color: #232323;
		-webkit-border-radius: 2px;
		        border-radius: 2px;
		text-align: center;
		margin-top: -5px;
	}
	.tooltipster-default .tooltipster-content {
	    font-family: Roboto, sans-serif;
	    color: #FFF;
	    font-size: 13px;
	    line-height: 20px;
	    font-weight: 400;
	    padding: 11px 5px;
	    overflow: hidden;
	}

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  TOOLTIP CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ACCORDION CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/
	
	.accordion{
		
	}
		.accordion .ui-accordion-header{
			font-size: 13px;
			line-height: 16px;
			font-weight: 400;
			color: #8f8f8f;
			padding: 12.5px 35px;
			margin: 13px 0 0 0;
			background: #f3f3f3;
			-webkit-border-radius: 2px;
			        border-radius: 2px;
			-webkit-transition: padding ease 0.5s;
		       -moz-transition: padding ease 0.5s;
		        -ms-transition: padding ease 0.5s;
		         -o-transition: padding ease 0.5s;
		            transition: padding ease 0.5s;
		}	
			.accordion .ui-accordion-header.ui-state-default:hover,
			.accordion .ui-accordion-header.ui-accordion-header-active{
				border: none;
				text-shadow: none;
				background: #bae3ff;
				color: #1e5981;
				text-shadow: 0 0 1px #1e5981;
			}
			.accordion .ui-accordion-header.ui-accordion-header-active{
				-webkit-border-radius: 2px 2px 0 0;
				        border-radius: 2px 2px 0 0;
			    padding: 12.5px 35px 7px 11px;
			    
			    -webkit-transition: padding ease 0.5s;
			       -moz-transition: padding ease 0.5s;
			        -ms-transition: padding ease 0.5s;
			         -o-transition: padding ease 0.5s;
			            transition: padding ease 0.5s;
			}
				.accordion .ui-accordion-header .ui-accordion-header-icon{
					display: none;	
				}
			

		.accordion .ui-accordion-content{
			color: #5796c0;
			font-size: 13px;
			line-height: 20px;
			font-weight: 400;
			background: #bae3ff;
			-webkit-border-radius: 0 0 2px 2px;
			        border-radius: 0 0 2px 2px;
			padding: 0 28px 8px 10px;
			display: none;
		}
			.accordion .ui-accordion-content p{
				margin-bottom: 0;	
			}

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ACCORDION CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RANGESLIDER CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

	#slider-range{
		height: 4px;
		background-color: #e9e9e9;
	}
	#slider-range .ui-slider-range{
		background-color: #75C3E3;
	}
	#slider-range .ui-slider-handle{
		width: 17px;
		height: 17px;
		background-image: linear-gradient(to top, #f2fbff 0%, white 100%);
		border: 1px solid #9fc6e3;
		box-shadow: 0 1px 2px rgba(211, 236, 255, 0.75);
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		top: -7px;
	}
		#slider-range .ui-slider-handle:after{
			content: "";
			width: 7px;
			height: 7px;
			background-color: #8DCAFF;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			display: block;
			margin: 4px auto 0;
		}
	

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RANGESLIDER CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/