/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




@media only screen and (max-width: 995px) {
	/*body{min-width:768px;}*/

}

@media only screen and (max-width: 767px) {
	/*body{min-width:420px;}*/
		
}

@media only screen and (max-width: 479px) {
	/*body{min-width:320px;}*/
	.arcticmodal-container_i2{
		padding: 0;
	}
	.arcticmodal_container_box{
		min-width: 300px;
	}
}




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================