/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1.      TOUCH hacks
            3.2.      POSITIONS blocks (float:)
            3.3.      POSITIONS text (text-align:)
            3.4.      VERTICALLY align boxs (vertical-align:)
            3.5.      INDENTS Zero !IMPORTANT
            3.6.      POSITIONS (position:)
            3.7.      ZEROING float
            3.8.      DISPLAYS (dispay:)
            3.9.      LINKS And BUTTONS
            3.10.     HOVERS TRANSITION
            3.11.     TITLES
            3.12.     BACKGROUNDS
            3.13.     COLORS
            3.14.     GOOGLE FONTS
            3.15.     INSTALL FONTS
            3.16.     VISIBILITY
            3.17.     TEXTAFIELD (placeholder animation)
            3.18.     BREADCRUMBS
            3.19.     PRELOADER
        4. HEADER
        5. CONTENT
        6. FOOTER 
        7. ANCHOR TO TOP
        8. POPUP
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/




/*  <!-- 1. IMPORT Plugins and other CSS files 
============================================ --> */


        @import "../css/reset.css";
        @import "../css/bootstrap.css";
        @import "../plugins/formstyler/formstyler.css";
        @import "../plugins/easy-responsive-tabs/easy-responsive-tabs.css";
        @import "../plugins/datepicker/jquery-ui-datepicker.css";
        @import "../plugins/arcticmodal/jquery.arcticmodal.css";
        @import "../plugins/tooltip/tooltipster.css";
        @import "../plugins/accordion/jquery-ui-accordion.css";
        @import "../plugins/range-slider/jquery-ui-slider.css";
        @import "../css/indent.min.css";
        @import "../css/plugins.css";
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,cyrillic);




/*  <!-- 2. DEFAULT Stylesheets 
============================================ --> */


    html {width:100%;}

    body {
        font-family: 'Roboto', sans-serif;
        font-size:12px;
        line-height: 18px;
        font-weight: 400;
        color:#7a7a7a;
        min-width:1200px;
        -webkit-text-size-adjust: none;
        
        /* сглаживание шрифта начало */
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeSpeed;
        /* сглаживание шрифта финиш */
    }

    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }

    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    /* при выделении текста добавляется кастомный стиль  */
   
    ::selection{
        color: #fff;
        background-color: #0066cc;
    }

   ::-moz-selection{
        color: #fff;
        background-color: #0066cc;
    }

    /* !!! */

    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }

    /* centering block start */
    
    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* !!!   */




/*  <!-- 3. BASIC classes main 
============================================ --> */




        /*==========>>  3.1.      TOUCH hacks   <<==========*/


            input{
                -webkit-appearance: none;
                outline:none;
            }
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*==========>>  3.2.      POSITIONS blocks (float:)   <<==========*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}

            .pull_right {float: right !important;}
            .pull_left {float: left !important;}
            .pull_none{float: none !important;}


        /*==========>>  3.3.      POSITIONS text (text-align:)   <<==========*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*==========>>  3.4.      VERTICALLY align boxs (vertical-align:)   <<==========*/
        

            .val_md{vertical-align: middle;}
            .val_bt{vertical-align: bottom;}
            .val_bs{vertical-align: baseline;}
            .val_top{vertical-align: top;}
        

        /*==========>>  3.5.      INDENTS Zero !IMPORTANT   <<==========*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*==========>>  3.6.      POSITIONS (position:)   <<==========*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }


        /*==========>>  3.7.      ZEROING float   <<==========*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*==========>>  3.8.      DISPLAYS (dispay:)   <<==========*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}

            .hide {display: none !important;}
            .show {display: block !important;}

            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*==========>>  3.9.      LINKS And BUTTONS   <<==========*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            [data-popup]{cursor: pointer;}
            a {
                color:#666;
                outline:none;
                text-decoration:none;
                display: inline-block;
            }
            a:hover{
                color:#555;
                text-decoration:none;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: gray;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: none;
                text-decoration: none;
            }
            [class*="btn_"]{
                padding: 10px 5px;
                line-height: 16px;
                font-size: 14px;
                font-weight: 500;
                text-align: center;
                text-decoration: none;
                color: #fff;
                -webkit-border-radius: 3px;
                        border-radius: 3px;
                font-family: 'Roboto', sans-serif;
            }


        /*==========>>  3.10.     HOVERS TRANSITION   <<==========*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*==========>>  3.11.     TITLES   <<==========*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px; 
                font-family: 'Roboto', sans-serif;
            }
            
            .title{
                font-size: 36px;
                line-height: 46px;
                font-weight: 100;
            }
            .title2{
                font-size: 16px;
                line-height: 1.2;
                font-weight: 100;
            }
            .title3{
                font-size: 14px;
                line-height: 16px;
                font-weight: 500;
            }
            .title4{
                font-size: 24px;
                font-weight: 100;
                line-height: 37px;
            }
            .title5{
                font-size: 30px;
                line-height: 46px;
                font-weight: 300;
            }
            .title6{
                font-size: 18px;
                line-height: 20px;
                font-weight: 300;
            }
            .title7{
                font-size: 20px;
                line-height: 22px;
                font-weight: 300;
            }
            /* ===>  Custom styles for text  <=== */

                    .it{font-style:italic;} /* текст с наклоном */

                    .let{letter-spacing:-1px;} /* отступы между буквами */

                    .tt_up {text-transform:uppercase;} /*  каждое слово с большыми буквами */
                    .tt_cap {text-transform:capitalize;} /* каждое слово с заглавной буквы */
                    .tt_low {text-transform:lowercase;} /* каждое слово с маленькими буквами */
                    .tt_none {text-transform:none;} /* отмена стиля для текста */
                    .tt_parent {text-transform:inherit;} /* стиль для текста ставится по родителю */

                    .td_und{text-decoration: underline;} /* полоса под текстом */
                    .td_und:hover{text-decoration: none;} /* полоса пропадает при ховере */
                    
                    .td_line{text-decoration: line-through;} /* полоса зачеркивает текст */

                    .td_und_no{text-decoration: none;} /* полосы нету */
                    .td_und_no:hover{text-decoration: underline;} /* при ховере появляется полоса */

                    .td_no{text-decoration: none !important;} /* убирает полосу, выше по приоритету */
                    

                    .fw100{font-weight: 100;}
                    .fw200{font-weight: 200;}
                    .fw300{font-weight: 300;}
                    .fw400{font-weight: 400;}
                    .fw500{font-weight: 500;}
                    .fw600{font-weight: 600;}
                    .fw700{font-weight: 700;}
                    .fw800{font-weight: 800;}
                    .fw900{font-weight: 900;}
                
            /* ===>  !!! End of Custom styles for text !!!  <=== */
            
            /* ===>  !!! прячем текст начало  !!!  <=== */
            
            .text_hide {
                font: 0/0 a;
                color: transparent;
                text-shadow: none;
                background-color: transparent;
                border: 0;
            }

            /* ===>  !!! прячем текст конец !!!  <=== */


        /*==========>>  3.12.     BACKGROUNDS   <<==========*/

            /* ===>  Custom backgrounds  <=== */
            
                    .bg_none{ background:none !important;}
                    .bg_black{background-color: #000;}
                    .bg_white{background-color: #fff;}
                    .bg_grey{background-color: #e5e5e5;}

            /* ===>  !!! End of Custom backgrounds !!!  <=== */

            /* btn_blue start */
            .btn_blue{
                background-image: -webkit-linear-gradient(bottom, #1952a2 0%, #2166c6 100%);
                background-image: -o-linear-gradient(bottom, #1952a2 0%, #2166c6 100%);
                background-image: linear-gradient(to top, #1952a2 0%, #2166c6 100%);
                box-shadow: 0 1px 2px rgba(38, 99, 181, 0.75), inset 0 1px 0 rgba(255, 255, 255, 0.29);
                border: 1px solid #09183d;
                padding: 9px 33px 9px 29px;
                text-shadow: 0 -1px 0 rgba(27, 86, 170, 0.75);
            }
                .btn_blue:hover,
                .btn_blue.hover{
                    background-image: -webkit-linear-gradient(bottom, #0f79c9 0%, #1384de 100%);
                    background-image: -o-linear-gradient(bottom, #0f79c9 0%, #1384de 100%);
                    background-image: linear-gradient(to top, #0f79c9 0%, #1384de 100%);
                    border: 1px solid #09183d;
                    box-shadow: 0 1px 2px rgba(38, 99, 181, 0.75), inset 0 1px 0 rgba(255, 255, 255, 0.29);
                }
                .btn_blue:active,
                .btn_blue.active{
                    background-image: -webkit-linear-gradient(bottom, #2166c6 0%, #1952a2 100%);
                    background-image: -o-linear-gradient(bottom, #2166c6 0%, #1952a2 100%);
                    background-image: linear-gradient(to top, #2166c6 0%, #1952a2 100%);
                    border: 1px solid #09183d;
                    box-shadow: 0 1px 2px rgba(38, 99, 181, 0.75), inset 0 1px 0 rgba(0, 0, 0, 0.29);
                }
            /* btn_blue end   */

            /* btn_green start */
            [class*="btn_green"]/* ,
            .btn_green */{
                text-shadow: 0 -1px 0 rgba(114, 165, 9, 0.75);
                background: #96d212; /* Old browsers */
                background: -moz-linear-gradient(top,  #96d212 0%, #83bb0d 50%, #6d9f07 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  #96d212 0%,#83bb0d 50%,#6d9f07 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  #96d212 0%,#83bb0d 50%,#6d9f07 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                border: 1px solid #638f09;
                padding: 8px 25.5px;
            }
            [class*="btn_green_min"]{
                padding: 8px 10.5px;
            }
                /* .btn_green:hover,
                .btn_green.hover, */
                [class*="btn_green"]:hover,
                [class*="btn_green"].hover{
                    background: #b4eb08; /* Old browsers */
                    background: -moz-linear-gradient(top,  #b4eb08 0%, #abe006 50%, #a1d403 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  #b4eb08 0%,#abe006 50%,#a1d403 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  #b4eb08 0%,#abe006 50%,#a1d403 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
                    color: #4d7203;
                }
                /* .btn_green:active,
                .btn_green.active, */
                [class*="btn_green"]:active,
                [class*="btn_green"].active{
                    background: #6d9f07; /* Old browsers */
                    background: -moz-linear-gradient(top,  #6d9f07 0%, #96d212 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  #6d9f07 0%,#96d212 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  #6d9f07 0%,#96d212 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    text-shadow: 0 -1px 1px rgba(114, 165, 9, 0.75);
                    color: #FFF;
                }
            /* btn_green end   */
            
            /* btn_light start   */
            .btn_light{
                padding: 6px 9px 6px 32px;
                background: -webkit-linear-gradient(bottom, #b6e1ff 0%, #e2f3ff 100%);
                background: -o-linear-gradient(bottom, #b6e1ff 0%, #e2f3ff 100%);
                background: linear-gradient(to top, #b6e1ff 0%, #e2f3ff 100%);
                border: 1px solid #84bef0;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
                box-shadow: 0px 1px 1px 0px rgba(10, 74, 129, 0.20);
                color: #3d6b8c;    
                font-size: 13px;
                line-height: 16px;
                font-weight: 500;
                position: relative;
            }
            .btn_light:before{
                background: url(../images/icon/clear_icon.png) 0 0 no-repeat;
                content: "";
                position: absolute;
                left: 9px;
                top: 50%;
                margin-top: -7px;
                display: inline-block;
                width: 14px;
                height: 14px;
            }
                .btn_light:hover{
                    background-image: -webkit-linear-gradient(bottom, #ecf7ff 0%, #f7fcff 100%);
                    background-image: -o-linear-gradient(bottom, #ecf7ff 0%, #f7fcff 100%);
                    background-image: linear-gradient(to top, #ecf7ff 0%, #f7fcff 100%);
                    border: 1px solid #84bef0;
                    box-shadow: 0 1px 2px rgba(10, 74, 129, 0.75);
                    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
                    color: #3d6b8c;
                }
                .btn_light:active{
                    background-image: -webkit-linear-gradient(bottom, #e2f3ff 0%, #b6e1ff 100%);
                    background-image: -o-linear-gradient(bottom, #e2f3ff 0%, #b6e1ff 100%);
                    background-image: linear-gradient(to top, #e2f3ff 0%, #b6e1ff 100%);
                    border: 1px solid #84bef0;
                    box-shadow: inset 0 1px 2px rgba(193, 229, 255, 0.75);
                    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
                    color: #3d6b8c;
                }
            /* btn_light end   */
            
            /* btn_sun start   */
            .btn_sun{
                background-image: -webkit-linear-gradient(bottom, #da3e00 0%, #da3e00 1%, #ff4800 10%, #ff6d01 55%, #fec732 100%);
                background-image: -o-linear-gradient(bottom, #da3e00 0%, #da3e00 1%, #ff4800 10%, #ff6d01 55%, #fec732 100%);
                background-image: linear-gradient(to top, #da3e00 0%, #da3e00 1%, #ff4800 10%, #ff6d01 55%, #fec732 100%);
                border: 3px solid white;
                box-shadow: 0 1px 1px rgba(27, 87, 172, 0.39);
                text-shadow: 0 -1px 0 rgba(255, 183, 0, 0.75);
                font-size: 18px;
                line-height: 20px;
                font-weight: 700;
                padding: 9px 33.4px;
                color: #FFF;
            }
                .btn_sun:hover{
                    background-image: -webkit-linear-gradient(#fedc66 0%, #ff9900 55%, #f07300 100%);
                    background-image: -o-linear-gradient(#fedc66 0%, #ff9900 55%, #f07300 100%);
                    background-image: linear-gradient(#fedc66 0%, #ff9900 55%, #f07300 100%);
                    text-shadow: 0 -1px 0 rgba(255, 183, 0, 0.75);
                    color: #fff;
                }
                .btn_sun:active{
                    background-image: -webkit-linear-gradient(#ba0f00 0%, #e53f00 1%, #ff6700 50%, #ff9314 100%);
                    background-image: -o-linear-gradient(#ba0f00 0%, #e53f00 1%, #ff6700 50%, #ff9314 100%);
                    background-image: linear-gradient(#ba0f00 0%, #e53f00 1%, #ff6700 50%, #ff9314 100%);
                    text-shadow: 0 1px 0 rgba(208, 66, 0, 0.75);
                    color: #fff;
                }
            /* btn_sun end   */

            /* btn_grey start */
            
            .btn_grey{
                background-color: #EAEAEA;
                color: #969696;
                font-size: 13px;
                line-height: 16px;
                padding: 5px 21px;
            }
                .btn_grey:hover{
                    opacity: 0.8;
                }
                .btn_grey:active{
                    opacity: 1;
                }
                .btn_grey.follows{
                    background-color: #8ec810;
                    position: relative;
                    padding: 5px 21px 5px 37px;
                    color: #FFF;
                }
                    .btn_grey.follows:before{
                        top: 8px;
                        left: 14px;
                        content: "";
                        width: 13px;
                        height: 11px;
                        position: absolute;
                        background: url(../images/icon/follow_active_icon.png) 0 0 no-repeat;
                    }

            /* btn_grey end   */
            
            /* btn_sun start   */
            .btn_sun2{
                background-image: -webkit-linear-gradient(bottom, #da3e00 0%, #da3e00 1%, #ff4800 10%, #ff6d01 55%, #fec732 100%);
                background-image: -o-linear-gradient(bottom, #da3e00 0%, #da3e00 1%, #ff4800 10%, #ff6d01 55%, #fec732 100%);
                background-image: linear-gradient(to top, #da3e00 0%, #da3e00 1%, #ff4800 10%, #ff6d01 55%, #fec732 100%);
                text-shadow: 0 -1px 0 rgba(255, 183, 0, 0.75);
                font-size: 13px;
                line-height: 16px;
                font-weight: 500;
                padding: 4.5px 23.5px;
                color: #FFF;
            }
                .btn_sun2:hover,
                .btn_sun2.hover{
                    background-image: -webkit-linear-gradient(#fedc66 0%, #ff9900 55%, #f07300 100%);
                    background-image: -o-linear-gradient(#fedc66 0%, #ff9900 55%, #f07300 100%);
                    background-image: linear-gradient(#fedc66 0%, #ff9900 55%, #f07300 100%);
                    text-shadow: 0 -1px 0 rgba(255, 183, 0, 0.75);
                }
                .btn_sun2:active,
                .btn_sun2.active{
                    background-image: -webkit-linear-gradient(#ba0f00 0%, #e53f00 1%, #ff6700 50%, #ff9314 100%);
                    background-image: -o-linear-gradient(#ba0f00 0%, #e53f00 1%, #ff6700 50%, #ff9314 100%);
                    background-image: linear-gradient(#ba0f00 0%, #e53f00 1%, #ff6700 50%, #ff9314 100%);
                    text-shadow: 0 1px 0 rgba(208, 66, 0, 0.75);
                }
            /* btn_sun end   */
            
            /* btn_light2 start   */
            .btn_light2{
                padding: 4.5px 23.5px;
                background: #a0d9ff; /* Old browsers */
                background: -moz-linear-gradient(top,  #a0d9ff 0%, #92d2ff 50%, #80caff 95%, #52aff7 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  #a0d9ff 0%,#92d2ff 50%,#80caff 95%,#52aff7 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  #a0d9ff 0%,#92d2ff 50%,#80caff 95%,#52aff7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
                color: #1c5883;
                font-size: 13px;
                line-height: 16px;
                font-weight: 500;
            }
                .btn_light2:hover,
                .btn_light2.hover{
                    background: #caebff; /* Old browsers */
                    background: -moz-linear-gradient(top,  #caebff 0%, #bde6ff 50%, #9bd7fb 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  #caebff 0%,#bde6ff 50%,#9bd7fb 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  #caebff 0%,#bde6ff 50%,#9bd7fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                }
                .btn_light2:active,
                .btn_light2.active{
                    background: #2678d2; /* Old browsers */
                    background: -moz-linear-gradient(top,  #2678d2 0%, #80caff 5%, #9ed9ff 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  #2678d2 0%,#80caff 5%,#9ed9ff 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  #2678d2 0%,#80caff 5%,#9ed9ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                }
            /* btn_light2 end   */
            
             /* btn_light3 start   */
            .btn_light3{
                padding: 6px 23.5px;
                border: 1px solid #84BEF0;
                background: #e2f3ff; /* Old browsers */
                background: -moz-linear-gradient(top,  #e2f3ff 0%, #b7e2ff 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  #e2f3ff 0%,#b7e2ff 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  #e2f3ff 0%,#b7e2ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
                color: #3d6b8c;
                font-size: 13px;
                line-height: 16px;
                font-weight: 500;
            }
                .btn_light3:hover,
                .btn_light3.hover{
                    background: #f7fcff; /* Old browsers */
                    background: -moz-linear-gradient(top,  #f7fcff 0%, #ecf7ff 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  #f7fcff 0%,#ecf7ff 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  #f7fcff 0%,#ecf7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                }
                .btn_light3:active,
                .btn_light3.active{
                    background: #9dd4ff; /* Old browsers */
                    background: -moz-linear-gradient(top,  #9dd4ff 0%, #ceebff 50%, #e1f3ff 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  #9dd4ff 0%,#ceebff 50%,#e1f3ff 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  #9dd4ff 0%,#ceebff 50%,#e1f3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                }
            /* btn_light3 end   */



        /*==========>>  3.13.     COLORS   <<==========*/

            /* ===>  Custom color  <=== */
            
                    .white{ color: #FFF;}
                    .black{ color: #000;}
                    .blue{ color: #1a56aa;}
                    .dark_black{color: #061533;}
                    .light{ 
                        text-shadow: 0 -1px 0 rgba(20, 55, 104, 0.75);
                        color: #feffff;
                    }
                    .dark_blue{
                        text-shadow: 1px -1px 1px #061636;
                        color: #5886c0;
                    }
                    .light_green{color: #8dc610;}
                    .light_blue{color: #2c6991;}
                    .black2{color: #242424;}

            /* ===>  !!! End of Custom color !!!  <=== */


        /*==========>>  3.14.     GOOGLE FONTS   <<==========*/
        

            .roboto_th,
            .roboto_lt,
            .roboto_reg,
            .roboto_med,
            .roboto_bd,
            .roboto_ultra_bd{
                font-family: 'Roboto', sans-serif;
            }
            .roboto_th{font-weight: 100;}
            .roboto_lt{font-weight: 300;}
            .roboto_reg{font-weight: 400;}
            .roboto_med{font-weight: 500;}
            .roboto_bd{font-weight: 700;}
            .roboto_ultra_bd{font-weight: 900;}

            .arial{
                font-family:Arial, Helvetica, sans-serif;
            }


        /*==========>>  3.15.     INSTALL FONTS   <<==========*/
        

            /*@font-face {
                font-family: "LatoRegular";
                src: url("../font/Lato/LatoRegular.eot");
                src: url("../font/Lato/LatoRegular.eot?#iefix")format("embedded-opentype"),
                url("../font/Lato/LatoRegular.woff") format("woff"),
                url("../font/Lato/LatoRegular.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
            }*/


        /*==========>>  3.16.     VISIBILITY   <<==========*/
        

            .visible{
                visibility: visible;
                opacity: 1;
            }
            .invisible{
                visibility: hidden;
                opacity: 0;
            }
            .transparent{
                opacity: 0;
            }
            

        /*==========>>  3.17.     TEXTAFIELD (placeholder animation)   <<==========*/
        
            /*===  input start  ===*/
            
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;    
            }
            
            /* chrome  */
            input::-webkit-input-placeholder{ 
                transition: all 0.5s ease;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                color: #1c3566;
                font-style: italic;
            }
            /* !!! */
            /* mozilla */
            input::-moz-placeholder{
                transition: all 0.5s ease;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                color: #1c3566;
                font-style: italic;
            }
            input:-moz-placeholder{
                transition: all 0.5s ease;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                color: #1c3566;
                font-style: italic;
            }
            /* !!! */
            /* microsoft */
            input:-ms-input-placeholder{
                transition: all 0.5s ease;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                color: #1c3566;
                font-style: italic;
            }
            /* !!! */
            /* ======================== */
            /* focus chrome */
            input:focus::-webkit-input-placeholder{
                text-indent:10em;
                color:transparent;
            }
            /* !!! */
            /* focus mozilla */
            input:focus::-moz-placeholder{
                text-indent:10em;
                color:transparent;
            }
            input:focus:-moz-placeholder{
                text-indent:10em;
                color:transparent;
            }
            /* !!! */
            /* focus microsoft */
            input:focus:-ms-input-placeholder{
                text-indent:10em;
                color:transparent;
            }
            /* !!! */

            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            /* chrome */
            textarea::-webkit-input-placeholder{
                transition: all 0.5s ease;
            }
            /* !!! */
            /* mozilla */
            textarea::-moz-placeholder{
                transition: all 0.5s ease;
            }
            textarea:-moz-placeholder{
                transition: all 0.5s ease;
            }
            /* !!! */
            /* microsoft */
            textarea:-ms-input-placeholder{
                transition: all 0.5s ease;
            }
            /* !!! */
            /* ======================== */
            /* focus chrome */
            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }
            /* !!! */
            /* focus mozilla */
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }   
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }
            /* !!! */
            /* focus microsoft */
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }
            /* !!! */

            /*===  textarea end    ===*/
            

        /*==========>>  3.18.     BREADCRUMBS   <<==========*/
            
                .breadcrumbs{
                    display: block;
                    list-style: none;
                    margin: 12px 0 0px 70px;
                }
                    .breadcrumbs_it{
                        position: relative;
                        float: left;
                        padding-right: 14px;
                    }
                    .breadcrumbs_it:before{
                        display: block;
                        position: absolute;
                        right: 4px;
                        top: 0;
                        content: attr(data-bread-arr);
                        color: #94bfe7;
                        font-size: 18px;
                        line-height: 20px;
                        /* background: url(../images/icon_breadcrumbs.png) 0 0 no-repeat; */
                        /* width: 6px;
                        height: 6px; */
                    }
                    .breadcrumbs .breadcrumbs_it:last-child:before{
                        display: none;
                    }
                        .breadcrumbs_it a{
                            text-decoration: none;
                            color: #fff;
                        }
                        .breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
                        .breadcrumbs_it a:hover span{
                            text-decoration: underline;
                        }
                            .breadcrumbs_current{
                                font-size: 11px;
                                line-height: 13px;
                                font-style: italic;
                                color: #1a56aa;
                                background-color: rgba(191, 234, 255, 0.46);
                                padding: 4px 8px;
                                -webkit-border-radius: 2px;
                                        border-radius: 2px;
                            }


        /*==========>>  3.19.     PRELOADER   <<==========*/
        
            #page-preloader {
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: #00BBD3;
                z-index: 100500;
            }
                #page-preloader .preloader {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width:35px;
                    height:35px;
                    display:inline-block;
                    padding:0px;
                    border-radius:100%;
                    border:2px solid;
                    border-top-color:rgba(0,0,0, 0.65);
                    border-bottom-color:rgba(0,0,0, 0.15);
                    border-left-color:rgba(0,0,0, 0.65);
                    border-right-color:rgba(0,0,0, 0.15);
                    -webkit-animation: preloader 0.8s linear infinite;
                    animation: preloader 0.8s linear infinite;
                    -webkit-transform: translate(-50% ,-50%);
                       -moz-transform: translate(-50% ,-50%);
                        -ms-transform: translate(-50% ,-50%);
                         -o-transform: translate(-50% ,-50%);
                            transform: translate(-50% ,-50%);
                }

            @keyframes preloader {
               from {transform: rotate(0deg);}
               to {transform: rotate(360deg);}
            }
            @-webkit-keyframes preloader {
               from {-webkit-transform: rotate(0deg);}
               to {-webkit-transform: rotate(360deg);}
            }



                            
/*  <!-- 4. HEADER 
============================================ --> */


    #header {
        background: url(../images/main_bg.jpg) 0 0 no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        min-height: 432px;
        padding: 30px 0;
    }
        .header_container{
            
        }
            .header_top{
                margin-bottom: 70px;
                padding: 0 12px 0 9px;
            }
                .logo{
                    float: left;
                    margin-right: 52px;
                    margin-top: 3px;
                }
                    .logo > figcaption > a{
                        display:block;
                        text-decoration:none;
                        font-size: 0;
                    }
                        .logo > figcaption > a > img{
                            max-width: 100%;
                            max-height: 100%;
                        }

                #primary_nav{
                    float: left;
                    margin: 1px 0;
                }
                    #menu{

                    }
                        .menu_item{
                            float: left;
                            padding: 0 4px;
                        }
                        
                            .menu_link{
                                padding: 6px 15px;
                                text-decoration: none;
                                font-size: 13px;
                                color: #add4ff;
                                font-weight: 400;
                                -webkit-border-radius: 50px;
                                        border-radius: 50px;
                            }
                                .menu_item.current .menu_link,
                                .menu_link:hover{
                                    background-color: #01102b;
                                    color: #FFF;
                                    -webkit-transition: all ease-in 0.5s;
                                       -moz-transition: all ease-in 0.5s;
                                        -ms-transition: all ease-in 0.5s;
                                         -o-transition: all ease-in 0.5s;
                                            transition: all ease-in 0.5s;
                                }

                .header_search{
                    float: right;
                    position: relative;
                }
                    .header_search_input{
                        width: 210px;
                        height: 32px;
                        background-color: rgba(0, 0, 0, 0.16);
                        border: 1px solid rgba(0, 0, 0, 0.43);
                        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.18);
                        -webkit-border-radius: 50px !important;
                                border-radius: 50px !important;
                        font-size: 13px;
                        line-height: 1.2;
                        color: #fff;
                        padding: 0 40px 0 10px;
                    }
                    .header_search_icon{
                        width: 30px;
                        height: 32px;
                        background: url(../images/icon/search_icon.png) 5px 50% no-repeat;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    .header_search_icon:hover{
                        opacity: 0.8;
                    }



            .header_middle{
                
            }
                .header_button_box{
                    
                }
                    .header_button_box [class*="btn_"]{
                        margin: 0 3px;
                    }




/*  <!-- 5. CONTENT 
============================================ --> */


    #content {
        background-color: #fff;
    }
        .content_container{
            
        }



        /* index page start */
        
            .tabs{
                position: relative;
            }
                .search_txt{
                    position: absolute;
                    top: -37px;
                    left: 10px;
                }
                .resp-tabs-container{
                    margin-top: -18px;                    
                }

                    .flights_ticket_container{
                            
                    }
                        .flight_form_container{
                            min-height: 251px;       
                        }
                            .form_header{
                                min-height: 183px;       
                                border-top: 1px solid #fff;   
                                background-image: linear-gradient(to bottom, #d9efff 0%, #cfeaff 50%, #d4edff 100%);
                                padding-top: 23px;
                            }
                                .form_line{
                                    padding-bottom: 20px;
                                    margin-right: 11px;
                                }
                                    .left_col,
                                    .right_col{
                                        width: 448px;   
                                        max-width: 100%;
                                        float: left;
                                    }
                                    .right_col{
                                        float: right;
                                    }
                                    .right_col .form_input{
                                        width: 421px;
                                    }
                                    .datepicker_container{
                                        
                                    }
                                        .form_row{
                                            position: relative;
                                        }
                                            .form_label{
                                                color: #3d6b8c;
                                                font-size: 16px;
                                                line-height: 33px;
                                                text-align: right;
                                                padding-right: 9px;
                                            }
                                            .datepicker_container .form_label{
                                                padding-right: 7px;
                                            }
                                            .form_input,
                                            .datepicker_input{
                                                width: 390px;
                                                max-width: 100%;
                                                height: 33px;
                                                background-image: linear-gradient(to top, white 0%, #e8f8ff 100%);
                                                border: 1px solid #9fc6e3;
                                                box-shadow: inset 0 5px 5px rgba(226, 237, 245, 0.76), inset 0 0 5px rgba(194, 231, 255, 0.75);
                                                color: #3c79a7;
                                                font-size: 15px;
                                                line-height: 18px;
                                                -webkit-border-radius: 3px !important;
                                                        border-radius: 3px !important;
                                                padding-left: 11px;
                                                padding-right: 11px;
                                                font-weight: 600;
                                            }
                                            .form_input_checkbox{
                                                width: 16px;
                                                height: 16px;
                                                background-image: linear-gradient(to top, #f2fbff 0%, white 100%);
                                                border: 1px solid #9fc6e3;
                                                box-shadow: 0 1px 2px rgba(211, 236, 255, 0.75);
                                                cursor: pointer;
                                                margin: 0 5px 0 0;
                                            }
                                            .form_input_checkbox:hover,
                                            .form_row:hover .form_input_checkbox,
                                            .form_row.hover .jq-checkbox{
                                                background-image: linear-gradient(to top, white 0%, white 100%);
                                                border: 1px solid #c3dff4;
                                                box-shadow: 0 1px 2px rgba(211, 236, 255, 0.75);
                                            }
                                            .form_row:hover .form_label_checkbox{
                                                cursor: pointer;
                                            }
                                            .form_input_checkbox.jq-checkbox.checked .jq-checkbox__div{
                                                background: url(../images/icon/checkbox_icon.png) 50% 50% no-repeat;
                                                -webkit-box-shadow: none;
                                                        box-shadow: none;
                                                width: 15px;
                                                height: 15px;
                                                margin: 0;
                                                -webkit-border-radius: 0;
                                                        border-radius: 0;
                                            }
                                            .form_input_checkbox.jq-checkbox.checked,
                                            .form_row:hover .form_input_checkbox.jq-checkbox.checked{
                                                background-image: linear-gradient(to top, #f2fbff 0%, white 100%);
                                                border: 1px solid #9fc6e3;
                                                box-shadow: 0 1px 2px rgba(211, 236, 255, 0.75);
                                            }
                                            .form_input_checkbox + .form_label{
                                                line-height: 19px;
                                            }

                                            /*===  input start  ===*/
                                            
                                            /* chrome  */
                                            input.form_input::-webkit-input-placeholder,
                                            input.datepicker_input::-webkit-input-placeholder{ 
                                                color: #3c79a7;
                                                font-style: normal;
                                            }
                                            /* !!! */
                                            /* mozilla */
                                            input.form_input::-moz-placeholder,
                                            input.datepicker_input::-moz-placeholder{
                                                color: #3c79a7;
                                                font-style: normal;
                                            }
                                            input.form_input:-moz-placeholder,
                                            input.datepicker_input:-moz-placeholder{
                                                color: #3c79a7;
                                                font-style: normal;
                                            }
                                            /* !!! */
                                            /* microsoft */
                                            input.form_input:-ms-input-placeholder,
                                            input.datepicker_input:-ms-input-placeholder{
                                                color: #3c79a7;
                                                font-style: normal;
                                            }
                                            /* !!! */
                                            /* ======================== */
                                            /* focus chrome */
                                            input.form_input:focus::-webkit-input-placeholder{
                                                text-indent:10em;
                                                color:transparent;
                                            }
                                            input.datepicker_input:focus::-webkit-input-placeholder{
                                                color: inherit;
                                                text-indent: 0;
                                            }
                                            /* !!! */
                                            /* focus mozilla */
                                            input.form_input:focus::-moz-placeholder{
                                                text-indent:10em;
                                                color:transparent;
                                            }
                                            input.datepicker_input:focus::-moz-placeholder{
                                                color: inherit;
                                                text-indent: 0;
                                            }
                                            input.form_input:focus:-moz-placeholder{
                                                text-indent:10em;
                                                color:transparent;
                                            }
                                            input.datepicker_input:focus:-moz-placeholder{
                                                color: inherit;
                                                text-indent: 0;
                                            }
                                            /* !!! */
                                            /* focus microsoft */
                                            input.form_input:focus:-ms-input-placeholder{
                                                text-indent:10em;
                                                color:transparent;
                                            }
                                            input.datepicker_input:focus:-ms-input-placeholder{
                                                color: inherit;
                                                text-indent: 0;
                                            }
                                            /* !!! */

                                            /*===  input end    ===*/
                                            .datepicker_input{
                                                width: 154px;
                                                font-style: normal;
                                                padding-right: 29px;
                                            }
                                            .datepicker_icon{
                                                position: absolute;
                                                top: 50%;
                                                right: 8px;
                                                margin-top: -8px;
                                                width: 15px;
                                                height: 16px;
                                                display: inline-block;
                                                z-index: 9;
                                                background: url(../plugins/datepicker/icon/date_icon.png) 0 0 no-repeat;
                                            }


                                    .selectable_box{
                                        padding-right: 74px;
                                    }
                                        .selectable_box .form_row{
                                            float: right; 
                                            margin-left: 6.5px;
                                        }
                                        .selectable_box .form_row:last-child{
                                            margin-left: 0;
                                        }


                                .form_footer{
                                    position: relative;
                                    min-height: 68px;
                                    border-top: 1px solid #8FCAFF;
                                    background-image: -webkit-linear-gradient(bottom, #bde4ff 0%, #a3d6ff 50%, #8cc9ff 100%);
                                    background-image: -o-linear-gradient(bottom, #bde4ff 0%, #a3d6ff 50%, #8cc9ff 100%);
                                    background-image: linear-gradient(to bottom, #bde4ff 0%, #a3d6ff 50%, #8cc9ff 100%);
                                    padding: 9px 0;
                                }
                                .form_footer .btn_light{
                                    margin: 7px 15px 7px 0;
                                }
                                .form_footer .p_abs{
                                    bottom: 0;
                                    right: 0;
                                    left: 0;
                                    top: auto;
                                    height: 6px;
                                    border-top: 1px solid #C8E8FF;
                                    background-image: linear-gradient(to bottom, #a5d6ff 0%, #93cbff 20%, #7dbfff 40% , #67b3ff  60%, #55a8ff 100%);
                                    box-shadow: 0 3px 10px -2px #000;
                                }
            

            .map_container{
                height: 821px;
                position: relative;
            }
                #map-canvas{
                    height: 100%;
                    width: 100%;
                }
                /* marker info block start */
                .map_marker_box{
                    width: 341px;
                    height: 305px;
                    -webkit-border-radius: 2px;
                            border-radius: 2px;
                }
                    .map_header_marker{
                        height: 46px;
                        padding: 0 13px 0 14px;
                        background-color: #FFF;
                    }
                        .map_flag{
                            float: left;
                            padding-top: 15px;
                        }
                            .map_flag img{

                            }
                        .map_title{
                            float: left;
                            color: #1c5cb0;
                            font-family: Roboto;
                            font-size: 22px;
                            font-weight: 300;
                            line-height: 46px;
                            padding-left: 10px;
                            margin-bottom: 0;
                        }
                        .map_full_screen{
                            float: right;
                            padding-top: 17px;
                            display: block;
                        }

                    .map_gallery{
                        width: 341px;
                        height: 120px;
                        position: relative;
                    }
                        .map_gallery img{
                            
                        }
                        .map_img_abs{
                            -webkit-border-radius: 50%;
                                    border-radius: 50%;
                            overflow: hidden;
                            position: absolute;
                            bottom: -19px;
                            left: -32px;
                            width: 64px;
                            height: 64px;
                            border: 3px solid #1B2128;
                        }
                            .map_img_abs img{
                                border: 3px solid #fff;
                                -webkit-border-radius: 50%;
                                        border-radius: 50%;
                            }

                    .map_footer_marker{
                        height: 139px;
                    }
                        .map_footer_marker_left{
                            width: 77px;
                            height: 100%;
                            float: left;
                            background-color: #F4FBFF;
                            border-right: #d7efff;
                        }
                            .map_footer_marker_left_link{
                                display: block;
                                height: 100%;
                                width: 100%;    
                                padding: 42px 15px 0 15px;
                            }
                            .map_footer_marker_left_link:hover span span{
                                text-decoration: none;
                            }
                                .map_footer_marker_left_link span{
                                    text-align: center;
                                    
                                }
                                    .map_footer_marker_left_link span img{
                                        
                                    }
                                    .map_footer_marker_left_link span span{
                                        color: #b8b8b8;
                                        font-family: Arial,sans-serif;
                                        font-size: 13px;
                                        font-weight: 400;
                                        line-height: 16px;
                                        text-decoration: underline;
                                        padding-top: 5px;
                                    }


                        .map_footer_marker_right{
                            width: 263px;
                            height: 100%;
                            float: left;
                            border-left: #b9dff8;
                            background-color: #ddf1ff;
                            padding:  10px 10px 10px 9px;
                            overflow: auto;
                        }
                            .map_footer_marker_right_links{
                                margin-bottom: 12px;
                            }
                                .map_footer_marker_right .btn_light{
                                    padding: 3px 6px 3px 25px;
                                    margin: 0 0 0 1px;
                                }
                                [data-icon]{
                                    color: #5181a3;
                                    font-family: Arial,sans-serif;
                                    font-size: 13px;
                                    font-weight: 400;
                                    line-height: 15px;
                                }
                                    [data-icon]:before{
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        -webkit-transform: translateY(-50%);
                                           -moz-transform: translateY(-50%);
                                            -ms-transform: translateY(-50%);
                                             -o-transform: translateY(-50%);
                                                transform: translateY(-50%);
                                        left: 6px;         
                                        margin-top: 0; 
                                    }
                                    [data-icon="eye"]:before{
                                        background: url(../images/icon/eye_icon.png) 0 0 no-repeat;
                                        width: 16px;
                                        height: 12px;
                                    }
                                    [data-icon="icon"]:before{
                                        background: url(../images/icon/icon_icon.png) 0 0 no-repeat;
                                        width: 12px;
                                        height: 14px;
                                    }
                                    [data-icon="photo"]:before{
                                        background: url(../images/icon/photo_icon.png) 0 0 no-repeat;
                                        width: 15px;
                                        height: 14px;
                                    }

                            .map_footer_marker_right_text{
                                color: #5181a3;
                                font-family: Arial,sans-serif;
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 20px;
                            }
                            .gm-style .gm-style-iw,
                            .gm-style .gm-style-iw > div,
                            .gm-style .gm-style-iw > div > div{
                                overflow: inherit !important;
                            }

                /* marker info block end */
            
                .country_on_map_container{
                    height: 113px;
                    width: 100%;
                    background-color: rgba( 0 , 0 , 0 , 0.69 );
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    padding: 19px 0;
                }
                    .country_on_map_figure{
                        width: 222px;
                        height: 75px;
                        background-color: white;
                        -webkit-border-radius: 2px;
                                border-radius: 2px;
                        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
                        padding: 4px;
                        display: inline-block;
                        margin-right: 22px;
                        margin-left: -3px;
                        white-space: normal;
                    }
                        .country_on_map_img_box{
                            margin-right: 7px;
                            float: left;
                        }
                            .country_on_map_img_box img{
                                
                            }
                        .country_on_map_block{
                            overflow: hidden;
                        }
                            .country_on_map_block .title3{
                                margin-bottom: 0px;
                            }
                            .country_on_map_text{
                                color: #9b9b9b;
                                font-family: Arial;
                                font-size: 11px;
                                font-weight: 400;
                                line-height: 15px;
                                margin-bottom: 7px;
                            }
                            .rating_and_review_box{
                                
                            }
                                .rating_box{
                                    
                                }
                                    .rating div.star-on-png {
                                        background: url(../plugins/rating/rating_active.png) 0 0 no-repeat;
                                    }
                                    .rating div {
                                        display: inline-block;
                                        width: 10px;
                                        height: 10px;
                                        margin-right: -1px;
                                        background: url(../plugins/rating/rating.png) 0px 0 no-repeat;
                                    }

                                .review_box{

                                }
                                    .review_box a{
                                        background: url(../images/icon/comment_icon.png) 0 0 no-repeat;
                                        color: darkgrey;
                                        font-family: Roboto;
                                        font-size: 10px;
                                        font-weight: 400;
                                        line-height: 12px;
                                        text-decoration: none;
                                        padding-left: 18px;
                                    }
        
        /* index page end   */
        

        
        /* user-profile page start */
            
            #header.header_second_style{
                max-height: 55px;
                min-height: auto;
                padding: 11px 0 9px 0;
            }
                .header_second_style .header_top{
                    padding: 0 0 0 9px;
                    margin-bottom: 0;
                }
                    .header_second_style .logo{
                        margin-right: 72px;
                        margin-top: 6px;
                    }
                        .header_second_style .logo > figcaption > a{
                            width: 37px;
                            height: 21px;
                            background: url(../images/logo2.png) 0 0 no-repeat;
                        }
                            .header_second_style .logo > figcaption > a > img{
                                display: none;
                            }
                    .right_col_head{
                        
                    }
                    .header_second_style .header_search{
                        margin-right: 31px;
                        float: left;
                    }

                    .header_autorization{
                        
                    }
                        .header_autorization .btn_green{
                            padding: 7px 12px;
                        }

            .title_with_breadcrumbs{
                margin-top: 16px;
                padding-left: 9px;
            }

            .profile_user_box{
                margin-bottom: 39px;
            }

                .profile_img{
                    text-align: right;                    
                }


                .profile_info{
                    
                }


                    .title_with_rating{
                        margin-bottom: 24px;
                    }
                        .title_with_rating .title5{
                            margin-top: -12px;
                        }
                        .title_with_rating .rating_box{
                            margin-left: 17px;
                            margin-top: 7px;
                        }

                    
                    .user_from-message-like{
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                        color: #1a56aa;
                        margin-bottom: 25px;
                    }
                        .user_from-message-like a{
                            color: #1a56aa;
                            margin-right: 26px;
                        }
                            /* .user_from-message-like a:before, */
                            .from_country:before,
                            .send_link:before,
                            .likes_info:before{
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;  
                            }
                        .from_country{
                            position: relative;
                            padding-left: 22px;
                        }
                            .from_country:before{
                                background: url(../images/icon/map_marker_user.png) 0 0 no-repeat;
                                width: 15px;
                                height: 24px;
                                top: -3px !important;
                            }
                        .send_link{
                            position: relative;
                            padding-left: 29px;
                        }
                            .send_link:before{
                                background: url(../images/icon/send_icon_user.png) 0 0 no-repeat;
                                width: 20px;
                                height: 19px;
                            }
                        .likes_info{
                            position: relative;
                            padding-left: 28px;
                        }
                            .likes_info:before{
                                background: url(../images/icon/like_icon_user.png) 0 0 no-repeat;
                                width: 20px;
                                height: 17px;
                            }
                        .likes_info.likes_active{
                            color: #ff0048;
                        }
                            .likes_active:before{
                                background: url(../images/icon/likes_active.png) 0 0 no-repeat;
                            }


                    .user_about_box{
                        margin-bottom: 25px;
                    }
                        .user_about_box .title6{
                            margin-bottom: 8px;
                        }
                        .user_about_box p{
                            color: #7a7a7a;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                            margin-bottom: 0;
                            letter-spacing: -0.1px;
                        }


                    .interests_box{
                        
                    }
                        .interests_box .title6{
                            margin-bottom: 8px;
                        }

                        .interests_box_item{
                            
                        }
                            .interests_item_brick{
                                padding: 5.5px 10px;
                                color: #80a4b8;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 14px;
                                background-color: #edf6fb;
                                margin: 0 1px;
                                -webkit-border-radius: 2px;
                                        border-radius: 2px;
                            }
                            .interests_item_brick:first-child{
                                margin-left: 0;
                            }


                .latest_tweet_box{
                    margin-bottom: 136px;
                }
                    .latest_tweet_box .title6{
                        margin-bottom: 13px;
                    }
                    .tweet_text_box{
                        height: 97px;
                        background-color: rgba(0, 0, 0, 0.72);
                        -webkit-border-radius: 5px;
                                border-radius: 5px;
                        padding: 13px 11px 5px 11px;
                        overflow: hidden;
                    }
                        .tweet_icon_box{
                            margin-right: 13px;
                            padding-top: 3px;
                        }
                            .tweet_icon_box img{
                                
                            }
                        .tweet_text_box figcaption{
                            color: #c8c8c8;
                            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.23);
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                        }

                
                .user_friends_box{
                    
                }
                    .user_friends_box .title6{
                        margin-bottom: 7px;
                    }
                    .friends_icon_box{
                        
                    }
                        .friends_icon_box a{
                            
                        }
                            .friends_icon_box a img{
                                
                            }
    

            .follow_container{
                min-height: 73px;
                box-shadow: inset 0 2px 1px rgba(0, 1, 0, 0.13);
                background: #ffffff; /* Old browsers */
                background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #e5e5e5 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            }
                .follow_list_info{
                    
                }
                    .follow_list_info_item{
                        width: 25%;
                        float: left;
                        border-right: 1px solid #ddd;
                        padding: 14px 0 0 21px;
                    }
                    .follow_list_info .follow_list_info_item:first-child{
                        padding-left: 9px;
                    }
                        .follow_list_info_item .title6{
                            margin-bottom: 8px;
                        }
                        .follow_list_info_item p{
                            color: #97b2c5;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 14px;
                        }

                .follow_button_box{
                    margin-top: 24px;
                }


            .visited_countries_box{
                height: 53px;
                width: 100%;
                background-color: rgba( 0 , 0 , 0 , 0.69 );
                border: 1px solid rgba(0, 1, 0, 0.85);
                vertical-align: middle;
                position: absolute;
                padding-top: 3px;
                left: 0;
                right: 0;
                top: 0;
                z-index: 99;
            }

        /* user-profile page end   */
        
        /* typographi page start */
        
            .box_links{
                display: inline-block;
                margin-left: 14px;
            }
            .w90{width: 90px;}
            .w105{width: 105px;}

            .h24{height: 24px;}
            .h28{height: 28px;}
            .h43{height: 43px;}
            .h50{height: 50px;}

            .alert_message_box{
                
            }
                .alert_message_item{
                    min-height: 47px;   
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 16px;
                    padding: 15.5px 33px 15.5px 16px;
                    position: relative;
                    -webkit-border-radius: 2px;
                            border-radius: 2px;
                }
                [data-alert="yellow"]{
                    background-color: #FFD200;
                    color: #836e0c;
                }
                [data-alert="red"]{
                    background-color: #FF3C00;
                    color: #ffe155;
                }
                [data-alert="green"]{
                    background-color: #2EAD19;
                    color: #fff;
                }
                    .close_icon{
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                           -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                             -o-transform: translateY(-50%);
                                transform: translateY(-50%);
                        font-size: 30px;
                        line-height: 30px;
                        font-weight: 900;
                        cursor: pointer;
                    }
                    [data-close-color="orange"]{
                        color:#ff6700;
                    }
                    [data-close-color="yellow"]{
                        color:#ffd200;
                    }
            .text_box_with_tooltip{
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                color: #e7e7e7;
            }
                .tooltip{
                    color: #1f60bc;
                    cursor: pointer;
                }

            .checkboxes_box{
                
            }
                .checkboxes_box .form_label{
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 16px;
                    vertical-align: bottom;
                }


            .radiobox_box{
                
            }
                .radiobox_box .form_row{
                    
                }
                    .form_input_radio{
                        background-image: linear-gradient(to top, #f2fbff 0%, white 100%);
                        border: 1px solid #9fc6e3;
                        box-shadow: 0 1px 2px rgba(211, 236, 255, 0.75);
                        color: #3d6b8c;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                    }
                    .form_label_radio{
                        line-height: normal;
                        cursor: pointer;
                    }
                    .radiobox_box .form_label{
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 16px;
                        vertical-align: bottom;
                    }

                    .form_row.hover .form_input_radio,
                    .form_row:hover .form_input_radio{
                        background-image: linear-gradient(to top, white 0%, white 100%);
                        border: 1px solid #c3dff4;
                        box-shadow: 0 1px 2px rgba(211, 236, 255, 0.75);
                    }
                    .form_row.active .form_input_radio,
                    .form_row:active .form_input_radio{
                        background-image: linear-gradient(to top, #f2fbff 0%, white 100%);
                        border: 1px solid #9fc6e3;
                        box-shadow: 0 1px 2px rgba(211, 236, 255, 0.75);
                    }
                    .jq-radio.checked .jq-radio__div{
                        -webkit-box-shadow: none;
                                box-shadow: none;
                        width: 4px;
                        height: 4px;
                        margin: 5px 0 0 5px;
                        background: #3D6B8C;
                    }
                    .jq-radio.focused{
                        border: 1px solid #9fc6e3;
                    }

            .range_slider_box{
                
            }
                .range_slider_box p{
                    margin-bottom: 12px;   
                }
                .range_slider_box label{
                    display: inline-block;
                    color: #3d6b8c;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 16px;
                }
                .range_slider_box input#amount{
                    border: none;
                    width: 110px;
                    display: inline-block;
                    color: #3d6b8c;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 16px;
                    padding: 0;
                }
                #slider-range{
                    
                }


            .table_container{
                table-layout: fixed;
                width: 100%;
                text-align: left;
            }
                thead{
                    
                }
                tbody{
                    
                }
                    thead .table_tr{
                        height: 33px;
                    }
                        thead .table_tr .table_th{
                            border-left: 1px solid #e3e3e3;
                            vertical-align: middle;
                            color: #584A4A;
                            padding-left: 17px;
                            font-size: 13px;
                            font-weight: 700;
                            line-height: 16px;
                        }

                    thead .table_tr,
                    .table_tr{
                        background-color: #FFF;
                        border-bottom: 1px solid #e3e3e3;
                    }
                    .table_container thead .table_tr{
                        border-bottom: 2px solid #5DABEE !important;
                    }
                    .table_tr:nth-child(even){
                        background-color: #fbfbfb;
                    }
                    .table_tr:last-child{
                        border-bottom: 1px solid #C9C9C9;
                    }
                        .table_th{
                            
                        }
                        .table_td{
                            border-left: 1px solid #e3e3e3;
                            padding: 16px 0 16px 17px;
                            vertical-align: middle;
                            color: #a0a0a0;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 16px;
                        }
                        .table_th:nth-child(1),
                        .table_td:nth-child(1),
                        thead .table_tr .table_th:nth-child(1){
                            width: 10.85714285714286%;
                            border-left: none;
                            padding-left: 10px;
                        }
                        .table_th:nth-child(2),
                        .table_td:nth-child(2){
                            width: 30.71428571428571%;
                        }
                        .table_th:nth-child(3),
                        .table_td:nth-child(3){
                            width: 30.57142857142857%;
                        }
                        .table_th:nth-child(4),
                        .table_td:nth-child(4){
                            width: 27.57142857142857%;   
                        }

        /* typographi page end   */
        
        /* members page start */
            
            .members_item_container{
                margin-bottom: 44px;
                width: 100%;
                table-layout: fixed;
                font-size: 12px;
                line-height: 18px;
            }
                .members_tr{
                    height: 64px;
                    border-top: 1px solid #dff3ff;
                    background-color: #fff;
                }
                .members_tr:first-child{
                    border-top: 1px solid #dcdcdc;
                }
                .members_tr:last-child{
                    border-bottom: 1px solid #dcdcdc;
                }
                .members_tr:nth-child(even){
                    background-color: #F8FDFF;
                }
                [class*="members_td_"]{
                    vertical-align: middle;
                }
                .members_td_col1{
                    width: 400px;
                    padding-left: 13px;
                }
                    .member_user_boxes{
                        
                    }
                        .member_user_boxes_left{
                            margin-right: 9px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .member_user_boxes_right{
                            display: inline-block;
                            vertical-align: middle;
                        }
                            .membres_title{
                                font-size: 12px;
                                line-height: 18px;
                                color: #1a56aa;
                                font-weight: 700;
                                margin-bottom: 2px;
                            }
                                .membres_title span{
                                    color: #a7a7a7;
                                    font-weight: 400;
                                }


                .members_td_col2{
                    width: 103px;
                    text-align: right;
                }
                    .follow_btn_link{
                        
                    }
                .members_td_col3{
                    width: 170px;
                    padding-left: 24px;
                }
                .members_td_col4{
                    width: 140px;
                    padding-left: 16px;
                }
                .members_td_col5{
                    width: 101px;
                    padding-left: 18px;
                }
                    .members_td_col3 a,
                    .members_td_col4 a,
                    .members_td_col6 a{
                        color: #1a56aa;
                    }
            
            
            .pagination_container{
                text-align: center;
                margin-bottom: 70px;
            }
                .pagination_container li{
                    display: inline-block;
                    margin: 0 -2px 0 6px;
                }
                    .pagination_container li a{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1;
                        color: #969696;
                        background-color: #eaeaea;
                        padding: 7px 8px 5px 8px;
                        -webkit-border-radius: 2px;
                                border-radius: 2px;
                    }
                    .pagination_container li a:hover,
                    .pagination_container li.current a{
                        background-color: #8dc610;
                        color: #FFF;
                    }

            .tweet_txt_box{
                height: 42px;
                background-color: rgba(0, 0, 0, 0.72);
                padding: 11px 0;
                color: #c8c8c8;
            }
                .tweet_txt_box .tweet_icon_box{
                    padding-top: 0;
                }
                .tweet_txt_box_item{
                    padding-left: 9px;
                }

            /* popup start */
                #members_popup{

                }
                .members_popup{
                    width: 941px;
                    height: 572px;
                    background-color: #FFF;
                }
                    .members_popup .members_item_container{
                        margin-bottom: 16px;
                    }
                    .three_blocks{
                        padding:  0px 33px 31px 12px;
                    }
                        .three_blocks_item{
                            
                        }
                            [data-block="first"]{
                                width: 513px;   
                                max-width: 100%;
                            }
                            [data-block="second"]{
                                width: 185px;
                                padding-left: 15px;
                            }
                            [data-block="third"]{
                                width: 198px;
                                padding-left: 6px;
                            }

                            .three_blocks_item .user_about_box{
                                margin-bottom: 0;
                            }

                            .three_blocks_item .interests_box{
                                padding-right: 10px;
                            }
                                .three_blocks_item .interests_item_brick{
                                    margin-bottom: 6px;   
                                }

                            .three_blocks_item .user_friends_box{
                                
                            }
                                .three_blocks_item .friends_icon_box{
                                    
                                }
                                    .three_blocks_item .friends_icon_box a{
                                        margin-bottom: 3px;
                                    }


                    .popup_map_container{
                        height: 308px;
                        width: 100%;    
                        box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .2);
                        background: url(../images/map_popup_img.jpg) 0 0 no-repeat;
                    }


                    .absolute_buttons_box{
                        position: absolute;
                        bottom: -44px;
                        left: 0;
                    }

            /* popup end  */
        /* members page end   */



/*  <!-- 6. FOOTER 
============================================ --> */


    #footer {
        padding: 15px 0px 14px 0px;
        min-height: 52px;
        background-color: #fff;
    }
        .footer_container{
            
        }
            .footer_logo_box{
                padding-top: 3px;
                margin-left: 11px;
            }
                .footer_logo_box a{
                
                }
                    .footer_logo_box a img{
                
                    }

            .footer_list_link{
                overflow: hidden;
                margin: auto;
                text-align: center;
            }
                .footer_list_link_li{
                    display: inline-block;
                    /* margin: 0 -2px; */
                }
                    .footer_list_link_it{
                        -webkit-border-radius: 50px;
                                border-radius: 50px;
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 13px;
                        padding: 5px 10px;
                        color: #898989;
                    }
                    .footer_list_link_li.current  a,
                    .footer_list_link_it:hover{
                        background-color: #c4c4c4;
                        color: #fff;
                    }


            .footer_anchor{
                margin-top: -2px;
                margin-right: 13px;
            }



/*  <!-- 7. ANCHOR TO TOP
============================================ --> */


    .back_to_top {
        background: url(../images/icon/anchor_top.png) 0 0 no-repeat;
        width: 26px;
        height: 26px;
        cursor: pointer;
    }
    .back_to_top:hover{
        opacity: 0.5;
    }

/*  <!-- 8. POPUP
============================================ --> */
    .active[data-popup]{
        z-index: 9999;
        position: relative;
    }
    .login_popup{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.58);
        width: 328px;
        height: 225px;
        -webkit-border-radius: 2px;
                border-radius: 2px;
        padding-top: 6px;
        background: transparent;
    }
    .login_popup:before{
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -5.5px;
        background: url(../images/icon/arr_popup_ico.png) 0 0 no-repeat;
        width: 11px;
        height: 6px;
    }
        .login_popup .arcticmodal-close{
            display: none;
        }
        .login_form{
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top,  #ffffff 0%, #e8f8ff 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #ffffff 0%,#e8f8ff 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #ffffff 0%,#e8f8ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            padding: 16px 16px 10px 15px;
            min-height: 155px;
        }
            .login_form .form_row{
                margin-bottom: 12px;
            }
                .login_form .form_label{
                    
                }
                .login_form .form_input{
                    width: 215px;
                    float: right;
                }

            .after_input{
                width: 215px;
                padding-top: 2px;
            }
                .after_input .form_row{
                    display: inline-block;
                    margin-bottom: 0;
                    margin-top: 8px;
                }
                    .after_input .form_row label{
                        cursor: pointer;   
                        color: #3d6b8c;
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 16px;
                    }
                .after_input .btn_sun{
                    border: 1px solid #fff;
                    text-shadow: 0 -1px 0 rgba(255, 183, 0, 0.75);
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16px;
                    padding: 7px 15px;
                    float: right;
                }

        .authorization_box{            
            background: #d3f1ff; /* Old browsers */
            background: -moz-linear-gradient(top,  #d3f1ff 0%, #c5ebff 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #d3f1ff 0%,#c5ebff 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #d3f1ff 0%,#c5ebff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            border-top: 1px solid #a7d9f3;
            padding: 13px 0 0 13px;
            height: 70px;
        }
            .authorization_box_text{
                color: #5689af;
                font-family: Roboto;
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
                margin-bottom: 8px;
            }
            .authorization_box a{
                display: block;
                float: left;
                width: 20px;
                height: 20px;
                margin: 0 5px;
            }
            [data-soc="facebook"]{
                background: url(../images/icon/facebook.jpg) 0 0 no-repeat;
                margin-left: 0 !important;
            }
            [data-soc="google"]{
                background: url(../images/icon/google.jpg) 0 0 no-repeat;
            }
            [data-soc="twetter"]{
                background: url(../images/icon/twetter.jpg) 0 0 no-repeat;
            }
